[2016-07-25 18:00] tj opened #13 "incident_key for create_event"
Hey! Unless I'm missing something it looks like pagerduty.Event is missing an IncidentKey field for https://v2.developer.pagerduty.com/v2/docs/trigger-events. I'm also not seeing incident_keys UUIDs generated for the response.

[2016-07-26 07:00] abh opened #14 "Webhook decoder"
It'd be nice if there was a struct defined for the [webhook payload](https://v2.developer.pagerduty.com/docs/webhooks-overview).

[2016-08-02 16:51] PaulCapestany opened #15 "Typo in repo description"
Pagerduty is misspelled.

![image](https://cloud.githubusercontent.com/assets/458245/17337226/91bf263e-5896-11e6-8163-1ef62807f384.png)

[2016-08-03 10:23] Luzifer opened #16 "Documentation does not match code"
The README and repository description states this is a library using your v2 API. Taking a look into the `client.go` it uses the v1 endpoint so this is in fact not a v2 library…

Also for example `CreateOverride` does send invalid data according to the specification of the v2 API documentation. Even when patching the data the response code handling is broken…

Please label this as an v1 library or

[2016-08-03 18:43] ranjib opened #18 "Fix help flag behavior"
[code]

[2016-08-03 19:55] ranjib commented on #15
oops. thanks @PaulCapestany . FIxed

[2016-08-03 19:56] #15 closed

[2016-08-03 20:58] ranjib commented on #13
Thank @tj  for reporting this. I have just merged https://github.com/PagerDuty/go-pagerduty/pull/21 and https://github.com/PagerDuty/go-pagerduty/pull/20 , let me know if this is still an issue

[2016-08-03 20:58] #13 closed

[2016-08-03 22:45] PaulCapestany commented on #15
Almost ;)

"go client library for Pager**_t_**Duty v2 API"

[2016-08-03 22:47] ranjib commented on #15
damn! done :-)

[2016-08-03 23:10] ranjib commented on #14
@abh I have taken a stab at it, but yet to test it out, let me know if this works, or anything else you need, and thanks for the suggestion, appreciate it :-)
https://github.com/PagerDuty/go-pagerduty/pull/22

[2016-08-03 23:10] #14 closed

[2016-09-03 19:05] dthagard commented on #16
I've overhauled the SDK to work correctly with V2 in this PR:  https://github.com/PagerDuty/go-pagerduty/pull/23

[2016-09-06 03:14] ranjib commented on #16
@Luzifer as @dthagard  the library now has v2 api. I had made some fixes soon after you raise the issue, as well. Let us know if you think its still not matching the v2 API. This is under active development, and not quiet ready yet (does not cover the entire API).

[2016-09-06 03:14] #16 closed

[2016-09-14 17:50] RSamal opened #32 "Manage Incident gives error"
I am trying to call from golang library with the below code
`incident := Incident{
		Id:     "PQOWA9O",
		Type:   "incident_reference",
		Status: "acknowledged",
	}

	opts := ManageIncidentsOptions{
		From: "samal.ramakanta@gmail.com",
	}
	incidents := []Incident{incident}
	err := client.ManageIncidents(incidents, opts)
	if err != nil {
		t.Error(err.Error())
	}`

But getting below error
`pagerdut

[2016-09-14 20:53] RSamal commented on #32
I changed the client and added email as part of the header in Do request . It works for my scenario but I am not sure if it broke other test cases .

`// Client wraps http client
type Client struct {
	authToken string
	email     string
}

...
req.Header.Set("From", c.email)
`

[2016-09-14 20:56] ranjib commented on #32
@RSamal thats it. I am updating the library to allow passing additional headers. Give me a day, and this will be fixed. Thanks for reporting.

[2016-09-14 21:16] ranjib commented on #32
@RSamal I just merged https://github.com/PagerDuty/go-pagerduty/pull/33 , which should fix this, I changed the method signature to pass "From" value as string argument
Let me know if the issue still persist.

[2016-09-28 15:48] cmluciano opened #39 "Problems running freshly built pd utility"
I am trying to run the utility but i can't get anything to output aside from the help menu. When running the utility and inspecting the return code, I am getting a 1. This makes me think that I might be hitting this line https://github.com/PagerDuty/go-pagerduty/blob/master/command/main.go#L123 but I don't get any other errors even if I swap stderr with stdout.

My initial impression is that it ke

[2016-09-28 15:50] ranjib commented on #39
@cmluciano  can you share the CLI usage you are trying?

[2016-09-28 15:51] cmluciano commented on #39
I have tried

[code]

[code]

[code]

But all just return the help menu.

[2016-09-28 17:06] ranjib commented on #39
@cmluciano  can you test with the master, if it persist?

[2016-09-28 17:17] cmluciano commented on #39
I can get the version to print no problem, but I still has an exit code of 1.

[code]

[2016-09-28 17:52] cmluciano commented on #39
OK I figured it out. This was a mixture of stale dependencies local with the cli library. A "super fresh" build fixed everything.

[2016-09-28 17:52] #39 closed

[2016-09-28 18:04] ranjib commented on #39
@cmluciano I am not able to reproduce this.  `pd service list -authtoken="XZZXXX"` works fine on my end.
Can you share the md5sum & file information? Here is what i have on my end:
[code]

[2016-09-28 18:06] ranjib commented on #39
:sunglasses:  thanks again for reporting the issue. let me know if you hit any other bugs. this library is under development, likely to have bugs /missing features till we hit a stable milestone. I'll cut a release (binary will be available on the github release page), as and when we reach there.

[2016-09-28 23:28] RSamal commented on #32
Thank you it works . Sorry for the delay in response.

I had a question, do we have any event api usecases written in golang?

[2016-09-28 23:52] ranjib commented on #32
@RSamal  https://github.com/PagerDuty/go-pagerduty/pull/41

[2016-10-05 02:36] cmluciano opened #42 "Possible to create new service and integration together"
I'm wondering it it is possible to create a new service and request that a new integration be created simultaneously. Is this possible to do with the REST API or do I have to create an integration first and then reference that from my new service?

[2016-10-05 21:56] ranjib commented on #42
I am afraid you can't do that with the v2 api. You have to create a service, obtain the ID, then create the integration. Creating integration would require service id.

[2016-10-05 21:56] #42 closed

[2016-10-26 19:10] cmluciano opened #50 "Create releases with built binaries"
I would love to create binary releases for each new pd release if possible. I'm to port over the methods that we use in [packer-builder-softlayer](https://github.com/watson-platform/packer-builder-softlayer/releases).

The only pre-requisite is having a [secure API key](https://github.com/watson-platform/packer-builder-softlayer/blob/master/.travis.yml#L21-L22) for travis to build these. Is this s

[2016-11-04 13:15] heimweh opened #51 "service: auto_resolve_timeout & acknowledgement_timeout cannot be set to null"
Hi,

It seems like the API allows the JSON value **null** (tested it via https://v2.developer.pagerduty.com/v2/page/api-reference#!/Services/put_services_id) to be passed which would disable the `auto_resolve_timeout` (as well as `acknowledgement_timeout` and possibly others) but it doesn't seem like the client library support it yet.

Here's a screenshot:
![screen shot 2016-11-04 at 13 26 45](htt

[2016-11-07 23:05] ranjib commented on #51
@heimweh current implementation uses an uint pointer https://github.com/PagerDuty/go-pagerduty/blob/master/service.go#L62 for the service struct. If you remove "omitempty" from the annotation of AutoResolveTimeout field, I think that will solve your use case.

[2016-11-16 07:59] heimweh commented on #51
@ranjib: thanks for looking into this. I'll take a look and see if I can get this to work. I think we need to cover three use cases though.

1. Use API defaults by just omitting the fields
2. Disable the timeouts by passing empty("null") fields
3. User-defined timeouts

Is this something we want or do we want to just handle user-defined timeouts or have them disabled?

[2016-12-19 18:40] dthagard opened #57 "Escalation Policy's repeat_enabled Is Ignored"
It doesn't matter if I explicitly set the repeat_enabled flag when making a call to the PagerDuty API for an escalation policy--either way the value is ignored. Also, I don't get a value back for this option when calling the API.

[2016-12-20 22:30] ranjib commented on #50
@cmluciano as of now, I am working on full api coverage. Once thats done and the CLI is bit more tested I'll publish a binary. I cant promise this to be happening this year at least

[2017-01-16 14:41] ethansommer opened #61 "Since and Until don't work for log_entries"
Since and Until don't work for log_entries

I submitted a fix in
https://github.com/PagerDuty/go-pagerduty/pull/60

[2017-01-29 22:08] #51 closed

[2017-02-06 15:33] AngelRefael opened #66 "Memory leak because of response body is not closed"
There is a memory leak in event.go - func CreateEvent, the closing of the response must take place right after the checking of the error, currently when the response status is not equal to 200, the response body will not be closed - see pull request [#65](https://github.com/PagerDuty/go-pagerduty/pull/65)

[2017-02-08 19:11] lfepp commented on #66
Fixed with [PR#65](https://github.com/PagerDuty/go-pagerduty/pull/65)

[2017-02-08 19:11] #66 closed

[2017-02-16 15:12] Deconstrained commented on #57
In my tests, I have determined that this is not particular to `go-pagerduty` but rather applies to the API itself. Hence, I have documented and reported it to the PagerDuty engineering team.

[2017-02-16 15:12] #57 closed

[2017-03-01 19:00] lfepp commented on #61
I've reviewed and merged [#60](https://github.com/PagerDuty/go-pagerduty/pull/60) so these should be working now. Thank you for your contributions!

[2017-03-01 19:00] #61 closed

[2017-03-02 22:19] CannibalVox opened #67 "Support Event Transformer Code?"
Via a support ticket, I was told earlier today that I can add the code for an event transformer via the config property of the integration payload.  But the integration object in this API doesn't have a config property, so this library cannot be used.

[code]

[2017-03-03 22:18] theckman opened #70 "Package test coverage is lacking"
PagerDuty is a service that we've come to expect to be reliable and trustworthy. It's one of the few services in the world expected to be fully operational if things go sideways with major hosting providers. However, you can only be this way if you test the system to ensure its proper operation. It's why Failure Friday became a core tenet of Engineering at PagerDuty.

I'd like to use this client,

[2017-04-09 19:32] ethanfrogers opened #81 "Publish CLI binaries as releases"
Would it be possible to start publishing releases of the CLI to Github releases? `go install github.com/PagerDuty/go-pagerduty` doesn't install the binary to the `$GOPATH/bin` and they only way I see to get access to the CLI is to compile it and link it yourself. This would make it really useful for folks using it in CI/CD scripts, for instance.

[2017-04-12 19:51] lfepp commented on #67
@CannibalVox the config property of the integration payload is intentionally undocumented as the property is in flux and the endpoint could be updated to support CETs on a different property or through a different endpoint entirely. Since there could be changes to the API that would break this property, I would suggest we avoid adding this to the library until it is a fully documented and supporte

[2017-05-12 14:24] tmccleve opened #83 "Support V2 events"
In order to leverage the new severity feature for PagerDuty events, this must be updated to utilize the v2 of the events api. I'm willing to do most of the work on updating. I'm looking for some guidance on how the maintainers would prefer to approach backward compatibility with the V1 events.

[2017-05-15 21:57] tmccleve commented on #83
Spiked this out for anyone that's interested. https://github.com/TWExchangeSolutions/prtg-pagerduty/tree/master/event

[2017-08-08 22:37] mmcloughlin opened #89 "Help with incident creation API"
This is not specifically an issue with the `go-pagerduty` package but I was hoping somebody here might be able to help. I'm having trouble getting the incident creation `POST` endpoint to work.

I've copy pasted the request body found on https://v2.developer.pagerduty.com/docs/incident-creation-api

[code]

I substituted IDs from my team's pagerduty. The response I got back was HTTP 400 with an un

[2017-08-08 23:38] mmcloughlin commented on #89
My bad... missing a `Content-Type` header.

[2017-08-08 23:38] #89 closed

[2017-10-10 17:56] bradleyrobinson opened #92 "Assignment struct has no json conversion"
This causes problems for some of the methods. For example, I spent a long time trying to figure out why the ManageIncidents method kept giving this message:

```Unable to acknowledge Failed call API endpoint. HTTP response code: 400. Error: &{2001 Invalid Input Provided [Assignee cannot be empty.]}```

I can make that change and make a pull request if needed, though it was a simple fix once I figu

[2017-10-16 12:36] abtris opened #94 "Paging help"
Hi,
 I need list all incidents in week and I'm over 25 limit. Is easy way how setup in client to get all incidents.

I'm using this:

[code]

but not work over limit 25 (default paging limit in API).

[2017-10-17 16:11] bradleyrobinson opened #95 "Swallowing API responses"
In incident.go, ability.go, addon.go, event.go, and others, the HTTP response is swallowed rather than returned. I don't think it's controversial to suggest that API users might be interested in the API response and they should be the ones deciding whether or not to use the data from the response.

For example, if someone calls pagerduty.Client.ManageIncidents, they might be interested in seeing h

[2017-10-26 02:49] mdeggies commented on #89
Thanks for posting the solution- it's not obvious from the error msg.

[2017-10-26 14:40] abtris commented on #94
Resolved by override `APIListObject` object in opts.

[code]

[2017-10-26 14:40] #94 closed

[2017-12-12 05:40] cl0udgeek opened #100 "missing severity in create_event.json object?"
I think we're missing `severity` in the `create_json` object defined by . `type Event struct`...

https://github.com/PagerDuty/go-pagerduty/blob/master/event.go#L13

[2017-12-12 06:21] tmccleve commented on #100
Severity is a v2 API parameter. https://v2.developer.pagerduty.com/docs/send-an-event-events-api-v2

v1 events: https://v2.developer.pagerduty.com/docs/trigger-events

Per: https://github.com/PagerDuty/go-pagerduty/blob/master/event.go#L10 this library is referencing the v1 api.

[2017-12-12 06:23] tmccleve commented on #100
@k1ng87 I did spike out something a while back to deal with this, FYI. https://github.com/WTW-IM/prtg-pagerduty/blob/master/event/event.go

[2017-12-20 03:46] pavel-si opened #101 "Client does not trigger events"
[code]
does not trigger the alert because json tags on Event do not match the required format here: https://v2.developer.pagerduty.com/docs/send-an-event-events-api-v2

[2017-12-20 14:49] tmccleve commented on #101
This package is currently using the v2 api, but v1 events. See https://v2.developer.pagerduty.com/docs/trigger-events

Line referencing v1 events https://github.com/PagerDuty/go-pagerduty/blob/master/event.go#L10

Both #83 and #100 are both centric to v2 event support.

[2017-12-29 16:48] sevagh commented on #94
Is there a better way of handling this?

For example:

[code]

I'm having trouble understanding how to use the `APIListObject` struct.

[2017-12-29 17:04] sevagh commented on #94
Does this make sense?

[code]

[2018-01-03 21:08] sevagh opened #102 "Trouble creating an integration"
Hello,

I'm trying to create an Events API V1 integration programatically.

My code looks like this:

[code]

I get the following error: `FATA[0007] Failed call API endpoint. HTTP response code: 400. Error: &{2001 Invalid Input Provided [Type cannot be empty.]}`

If I create the integration by hand in the UI, this code succeeds:

[code]

I'm trying to use the same `integration.Type`: `generic_even

[2018-01-03 21:14] sevagh commented on #102
The doc isn't really clear on what I need to create an integration: https://godoc.org/github.com/PagerDuty/go-pagerduty#Client.CreateIntegration

For example, `id string` would be more clear as `serviceId: string`

[2018-01-03 22:05] sevagh commented on #102
Clearer output:

[code]

[2018-01-03 22:14] sevagh commented on #102
So apparently to create it, the key is `generic_events_api_inbound_integration`, and after its created, the key turns into `generic_events_api_inbound_integration_reference`. Is this expected?

[2018-01-11 03:39] #102 closed

[2018-01-26 22:30] vanugrah commented on #92
@bradleyrobinson - Would you mind sharing what the fix was? I'm trying to create an array of UserReferences and I'm getting the same error:

[code]

[2018-01-26 23:18] bradleyrobinson commented on #92
The code is missing json tags, my pull request fixes the error: https://github.com/PagerDuty/go-pagerduty/pull/93/commits/8207ed91570a30f3a976a4814f9eaa55ccc6ee41

[2018-02-01 10:43] Nnoromuche opened #107 "Missing the "From" parameter in Create note on an incident function"
https://v2.developer.pagerduty.com/v2/page/api-reference#!/Incidents/post_incidents_id_notes

The API guide, specifies that a "From" parameter should be set in header when performing a create note api call.

[2018-02-17 06:41] bwester opened #110 "Custom connection settings"
Currently, the `Client` in this package only allows connections to PagerDuty's live service using the default Go connection settings. It would be extremely useful to me to be able to create a client with custom connection settings. Here are two specific use cases I had in mind:

1) I would like to be able to use this package in a service that has to go through an HTTP proxy to get to the outside I

[2018-04-29 13:11] rapenchukd commented on #110
I actually ran into this today, I'm including the event function into an app I am writing, and noticed there is no good way to set an http proxy that isn't global. the easiest way to do this would be to replace instances of `http.DefaultClient.Do` with `http.Client.Do` and allow users to override client/transport options in `Client{}`

I am working on a PR to do this now.

[2018-05-18 23:48] wdhnl commented on #92
Can someone from PD take a look at this?

[2018-05-28 08:32] mattstratton commented on #110
I’m just looking at writing tests for this project, so use case #2 is key. I’ll review the existing PR and see if it looks mergable as-is.

[2018-05-30 21:34] therin commented on #94
how did you guys ended solving it? I feel that overriding APIListObject is a bit dirty

[2018-05-31 01:10] therin commented on #94
ended up solving like this:

[code]

[2018-06-01 19:07] theckman commented on #110
For #2, I wonder if using the PagerDuty client for this is not the best path. I think a better pattern would be to have your code accept an interface that matches the functionality exposed by the PagerDuty API client, you can then write your own mock implementation(s) that returns the data you want. That way instead of testing the PagerDuty API client, on top of your code, you're only testing your

[2018-06-01 20:06] theckman commented on #110
So I've raised a PR (#121) which should address usecase 1 in this issue. It's similar to PR #112, except it allows consumers to use more than `*http.Client` by accepting the client as an interface.

I think as a project we should determine whether usecsase 2 is something we want to support. I'm of the personal opinion that it isn't something we should support, and should instead encourage consumer

[2018-06-01 20:55] #110 closed

[2018-06-02 05:07] bwester commented on #110
Thank you @theckman! Your PR looks great to me, and I agree that unit testing via interfaces is probably a better solution for (2). 👍

[2018-07-03 05:56] whithajess opened #124 "Add A CODEOWNERS file for easier review requests."
This Project doesn't seem to be getting a lot of love in the PR space.

Would like to suggest adding a CODEOWNERS file see https://help.github.com/articles/about-codeowners/ for how it works.

hopefully get a bit more love for people adding to this project.

[2018-07-03 05:57] whithajess commented on #124
Will help with this: https://github.com/PagerDuty/go-pagerduty/pull/108

[2018-07-09 13:56] IainCole opened #125 "Missing ContactMethod operations"
Missing stuff like this https://v2.developer.pagerduty.com/v2/page/api-reference#!/Users/get_users_id_contact_methods_contact_method_id

[2018-08-14 17:08] izinda commented on #89
This error message is incredibly misleading. I would consider this a bug.

[2018-08-24 11:00] rtfb opened #128 "ListIncidents() essentially ignores ListIncidentsOptions.Includes parameter"
When I call `ListIncidents` with an option to include the trigger log entry:

[code]

I get back `Incident` structures, which have `FirstTriggerLogEntry` as `APIObject`, which is only a reference, not a joined object. As far as I can tell looking at the code and experimenting with `curl` calls, the actual response does include log entries as expected, they just get dropped by `json.Decoder.Decode`

[2018-09-05 14:49] abtris opened #129 "Missing Services Extensions available over API"
- I can check if we have correct webhooks set at every service and didn't find that in SDK

[2019-02-06 05:15] evelinfong commented on #129
Not sure if this is what you are looking for, https://github.com/PagerDuty/go-pagerduty/blob/master/service.go#L94.
In Go, you can call ListServices and it will be able to print out all the services you have and the webhook that you have set up.
Or if you are interested in listing all the extensions to check for correct webhook, you can do a simple curl with your Pagerduty token:
https://api-refer

[2019-02-11 17:51] abtris commented on #128
👍 I have the same problem, I need get assignee and getting empty array.

[2019-02-11 17:53] abtris commented on #128
I think maybe https://github.com/PagerDuty/go-pagerduty/pull/93 can solve problem.

[2019-02-12 07:31] abtris commented on #129
Yes, I can do with curl but why I will use SDK if I can write all by myself.

[2019-02-14 13:24] auhlig opened #135 "Priority field should be optional according to API spec"
Managing an incident should not require the `priority` field according to the [API spec](https://api-reference.pagerduty.com/#!/Incidents/put_incidents). It's marked as optional.
However, trying to manage an incident without this field returns:
[code]
Moreover, the incident priority feature is disabled in our Pagerduty.
Can you confirm that's a bug?  Kindly asking for help here @mattstratton 🙏

[2019-02-25 22:56] philnielsen opened #136 "Support for V2 Event Management in the CLI"
Now that #83 is merged, I would love to add support for triggering, acknowledging and resolving v2 events via the cli. Would there be interest in that contribution?

[2019-03-10 00:42] jkondapalli03 opened #139 "ListIncidentsOptions Example"
Can anyone please explain how to use this struct
[https://godoc.org/github.com/PagerDuty/go-pagerduty#ListIncidentsOptions](url)

i'm planning on using `since` or `DateRage` attributes to fetch incidents since a point in time.

[2019-03-10 04:57] jkondapalli03 commented on #139
Little more context for the above question:

I tried using api-reference.pagerduty.com to query list of incidents since `2019-03-10T03:00:00`. I see the reponse back with list of all the incidents that occured. here is the GET api `https://api.pagerduty.com/incidents?since=2019-03-10T03%3A00%3A00&time_zone=UTC`

However, when I try doing the same in code, there are 0 responses

[code]

[2019-03-10 05:02] jkondapalli03 commented on #139
This was my bad. I did not pass in timezone.

[2019-03-10 05:02] #139 closed

[2019-03-13 10:44] soullivaneuh opened #141 "Missing ListIncidentAlerts"
API ref: https://api-reference.pagerduty.com/#!/Incidents/get_incidents_id_alerts

[2019-03-14 13:53] #141 closed

[2019-03-15 13:26] delubi opened #144 "build error cannot find package"
New to go and pagerduty. I'm trying to install go-pagerduty on Ubuntu 18.04. Below are the steps that I performed.

as root
cd /root
apt install golang-go
go get github.com/PagerDuty/go-pagerduty

vi ~/.bashrc
export GOPATH=/root/go

source ~/.bashrc
cd $GOPATH/src/github.com/PagerDuty/go-pagerduty
go build -o $GOPATH/bin/pd command/*

It returned error:

[code]

Any suggestion how to fix it?

[2019-03-18 07:15] pannon commented on #144
Try:
[code]

And re-run the build.

[2019-03-25 00:35] delubi commented on #144
@pannon Looks good now. Thank you.

[2019-03-25 00:35] #144 closed

[2019-04-04 21:13] jontonsoup opened #146 "Make a release?"
The last release was May 28, 2018. This breaks dep with the defaults.

[2019-05-03 13:37] dmathieu opened #148 "Mock Client?"
In order to be able to write unit tests for a package using this one as a dependency, it would be nice to be able to mock it.

Making the `Client` into an interface, with a `struct` implementing everything it does would allow creating additional structs which implement the interface too, to mock the behavior.

[2019-05-08 13:38] chenrui333 opened #149 "Create service extension (like slack extension) over API"
relates to #129

I wonder if I can programmatically create slack extension for pagerduty service.

[2019-05-09 14:27] chenrui333 commented on #149
This would be something useful from PD forum as workaround to address Slack extension setup:
https://community.pagerduty.com/t/how-to-pass-config-data-when-creating-an-extension/1857/2

[2019-05-09 14:27] chenrui333 commented on #129
This would be something useful from PD forum as workaround to address Slack extension setup:
https://community.pagerduty.com/t/how-to-pass-config-data-when-creating-an-extension/1857/2

[2019-05-15 21:30] simar7 commented on #148
I agree with what @dmathieu has said. Currently anything that's not a method on ```Client``` needs to be monkey-patched for unit testing, rather than being able to dependency inject it. This is particularly needed for ```CreateEvent()```

Would this be something on the roadmap for this library?

[2019-05-31 21:14] seanhoughton opened #153 "The "Channel" field doesn't expose all possible data fields"
I've made a draft PR which works around this issue:

https://github.com/PagerDuty/go-pagerduty/pull/152

[2019-07-23 12:30] avdhoot opened #159 "Support for global event rule"
Need support to create/update/delete global event rule.  More info [here](https://v2.developer.pagerduty.com/docs/global-event-rules-api)

[2019-07-23 17:48] ebracho opened #160 "Update logrus imports to github.com/sirupsen/logrus"
The logrus owner recently changed the case of their handle (Sirupsen -> sirupsen). This causes issues on case-insensitive filesystems (like in macos), since vendoring both versions of the package results in filepath collisions. The logrus maintainer has stated that they will keep the new name (see https://github.com/sirupsen/logrus/issues/570), so it is up to other packages to update their imports

[2019-08-06 19:06] kendung opened #163 "I need create incident function, Can we release the latest master?"
I need create incident function, Can we release the latest master? Thanks Ken

[2019-08-13 16:00] #136 closed

[2019-08-21 08:52] atomicules commented on #135
I don't think this is a bug in the API, but a bug introduced in this go-pagerduty library. I say that because it's possible to roll back and use an earlier version of this library and have things work.

I have not tracked down exactly what is causing it, but I suspect related to this commit:

- https://github.com/PagerDuty/go-pagerduty/commit/c94ddd7ce3165dc07107d141134363d6e6b67eb1

So... via Go

[2019-08-21 10:47] atomicules commented on #135
I don't understand why`omitempty` isn't doing the trick here?

[2019-08-21 11:25] atomicules commented on #135
Ended up doing this to `client.go`:

[code]

So I could see what gets sent:

[code]

I'm really not the best with Go, but seems like it's something like this: https://stackoverflow.com/questions/33447334/golang-json-marshal-how-to-omit-empty-nested-struct

[2019-08-21 11:30] atomicules commented on #135
For my use case, changing [`incident.go`](https://github.com/PagerDuty/go-pagerduty/blob/1956e334b1dcb3aae166131562cf7b56637df74d/incident.go#L71) to this:

[code]

Works. But unsure if PRing _just_ that is enough. Might do it though, at least for discussion.

[2019-08-21 11:47] atomicules commented on #135
PR ^ fwiw.

[2019-08-21 15:36] auhlig commented on #135
Thanks for digging into this @atomicules ❤️  Using a pointer should fix this

[2019-08-21 15:37] auhlig commented on #135
This affects also other field: https://github.com/sapcc/go-pagerduty/commit/304f7ea6b5b6d37787f9fa87bfaa6f4a417c4346

[2019-08-27 12:35] chunyanlv opened #165 "failed to create an incident"
Here is my code:
[code]
I have the title correctly set.
But I got the error like:
[code]
Does anyone know what is wrong?

[2019-09-06 07:10] snaveen commented on #165
I saw your fix. It would be really helpful for me if this gets merged. Is there any workaround till that?

[2019-09-06 18:42] joepurdy commented on #165
@snaveen My PR being merged is up to the maintainers of PagerDuty/go-pagerduty

If you want to use my fork for the time being I've gone and merged my fix into master there: https://github.com/joepurdy/go-pagerduty

I'll do my best to keep the fork updated with upstream, but ultimately the best fix would be the maintainers merging the fix into upstream.

[2019-09-07 11:19] snaveen commented on #165
Thanks @joepurdy

[2019-09-09 20:45] theckman commented on #165
I think I have merge access, let me see if I can do the needful tonight (Pacific time).

[2019-09-18 00:41] fxfactorial opened #170 "Poorly documented, library code broken, please step it up."
This library is surprisingly poorly documented, no examples around at all. I have to dig in the source code, this defeats the whole purpose of having a library and I have no idea the structs represent.

[code]

What is an APIReference? or an APIDetail? No examples.

EDIT: Searched in other people's code repos and now get the same error as mentioned in this ticket https://github.com/PagerDuty/go-pa

[2019-09-18 06:19] snaveen commented on #165
@theckman could you help us on this?

[2019-09-18 06:21] snaveen commented on #165
@theckman could you help us on this?

[2019-09-19 05:31] snaveen commented on #165
@ranjib Could you help us on this?

[2019-09-19 16:39] #165 closed

[2019-09-19 16:43] stmcallister commented on #170
Sorry about the delay on this! Fix #165 has been merged.

Also, thank you for the feedback on samples. I agree. :) I've been fumbling around the source code myself to figure out how things work, which isn't how it should be. I'll make sure we get some samples posted in a repo soon.

[2019-09-19 16:43] #170 closed

[2019-09-19 16:44] stmcallister commented on #163
PR #165 fixes this issue and has been merged. Sorry for the delay.

[2019-09-19 16:44] #163 closed

[2019-09-19 16:45] fxfactorial commented on #170
Thank you, appreciate the response. I will try this later today and ping back if more issues.

[2019-09-19 22:54] fxfactorial commented on #160
I am getting this issue as well:

[code]

@stmcallister Can you please suggest a fix? I just want to just use `pd service list`

I looked at releases as well hoping that project would provide precompiled binaries (I need OS X) but it wasn't there either, i think that would be a good idea.

[2019-09-21 00:14] stmcallister commented on #160
Thanks for pointing this out! I'll take a look at this. But, it may not be until after the PagerDuty Summit conference next week.

[2019-09-21 10:45] jason-tian opened #171 "How to create incident via command pd?"
Looks the command pd doesn't support create incident, any samples could be provided if I am wrong?

Thanks.

[2019-10-03 12:07] KeisukeYamashita commented on #171
@jason-tian I think it is not provided yet.

[2019-10-03 15:58] stmcallister commented on #171
Correct. Creating an incident through the CLI is not currently supported. We would welcome a pull request, though. :)

[2019-10-03 15:58] #171 closed

[2019-10-11 10:09] NautiluX opened #177 "Missing check for error in client.go"
#### Bug description

If this [function call](https://github.com/PagerDuty/go-pagerduty/blob/f60f4fc45222a1a50b1950dbb207508d1fc0da3a/client.go#L136) returns an error (I accidentally added a newline character to the end of the escalation policy id when called from [GetEscalationPolicy](https://github.com/PagerDuty/go-pagerduty/blob/f60f4fc45222a1a50b1950dbb207508d1fc0da3a/escalation_policy.go#L98)

[2019-10-12 17:55] jasonmoo-we opened #178 "Library does not represent the full PagerDuty REST api"
Just digging through and seeing some methods missing.  Here's a few:

https://api-reference.pagerduty.com/#!/Incidents/put_incidents_id
https://api-reference.pagerduty.com/#!/Incidents/put_incidents_id_alerts_alert_id

Are these left out on purpose?

[2019-10-14 09:59] NautiluX commented on #146
With the latest release it's not possible to use [v2 event api](https://github.com/PagerDuty/go-pagerduty/blob/master/event_v2.go), am I right? Would be great to have this, so I'd as well appreciate a new release :+1:

[2019-10-16 15:37] miekg opened #180 "listOverrides result in JSON unmarshall failure"
The ListOverride method tries to parse the returned JSON from the API, this is always failing because the first element of the json is a `total: x` field, where `x` is an `int` not an `Override`. Hence this function can't be used to query the API.

[2019-10-17 18:42] ewilde opened #181 "List escalation policy with current on call members using include `current_oncall`"
The PagerDuty UI uses the following endpoint to calculate the current oncall list:

https://api.pagerduty.com/api/v1/escalation_policies?include[]=current_oncall&limit=5

This appears to be the only way to get the oncall list with users start and end times. Interestingly using include with `current_oncall` is [not documented](https://api-reference.pagerduty.com/#!/Escalation_Policies/get_escalatio

[2019-10-23 16:06] stmcallister commented on #160
This was addressed with [PR 168](https://github.com/PagerDuty/go-pagerduty/pull/168).

[2019-10-23 16:06] #160 closed

[2019-10-24 07:16] NautiluX opened #186 "EventV2Response doesn't match API response"
EventV2Response on master [(code)](https://github.com/PagerDuty/go-pagerduty/blob/8f154572e5345e56b6683c8320bbb222d71536f8/event_v2.go#L36) currently contains the fields
* `routing_key`
* `dedup_key`
* `event_action`
However, according to the [API documentation](https://v2.developer.pagerduty.com/docs/send-an-event-events-api-v2), the response should parse the fields
* `status`
* `message`
* `dedu

[2019-10-24 22:30] #180 closed

[2019-10-25 06:47] miekg commented on #180
thank you!

[2019-11-25 13:26] abtris commented on #128
Still not resolved getting Assignments and Acknowledgements as empty arrays.

[2019-12-13 22:35] stmcallister commented on #18
Cleaning up old issues. This appears to be fixed. Please repost if not.

[2019-12-13 22:35] #18 closed

[2019-12-13 22:49] stmcallister commented on #83
Cleaning out old issues. This one appears to be addressed. Please repost if not.

[2019-12-13 22:49] #83 closed

[2019-12-14 00:25] stmcallister commented on #67
Going to close this issue because of its age and inactivity. Please reopen if this issue still exists today.

[2019-12-14 00:25] #67 closed

[2019-12-18 15:51] miekg opened #188 "service: SupportHours creation not supported"
Hello,

I'm trying to add SupportHours to an existing service or creating a service with SupportHours. Both things don't work but the failure mode is different:

* creating service w/ supporthours: `&{2001 Invalid Input Provided [params must be a Hash]}`, this is just filling out and using the SupportHours struct https://github.com/PagerDuty/go-pagerduty/blob/master/service.go#L42
* updating a ser

[2019-12-21 00:41] stmcallister commented on #107
Closing since a fixed seemed to have been merged. Please reopen if that's not the case.

[2019-12-21 00:41] #107 closed

[2020-01-03 16:20] jessedearing commented on #178
The client is also missing all methods related to tags as well. I'd like to use tags to signal some automation I'm using the client for.

[2020-02-05 20:49] stmcallister commented on #125
Just merged! Thanks for posting the issue!

[2020-02-05 20:49] #125 closed

[2020-02-05 21:43] stmcallister commented on #148
Recent PRs ( #173 and #190) appear to have addressed this. Going to close. Please reopen if this has not been addressed.

[2020-02-05 21:43] #148 closed

[2020-02-05 21:44] stmcallister commented on #129
PR #193 appears to have addressed this. Please reopen if that's not the case.

[2020-02-05 21:44] #129 closed

[2020-02-05 21:46] stmcallister commented on #149
PR #193 appears to have addressed this. Please reopen if that's not the case.

[2020-02-05 21:46] #149 closed

[2020-02-05 21:48] stmcallister commented on #124
Thanks for the suggestion! We're putting more effort into addressing PRs in a more timely manner. Appreciate the feedback.

[2020-02-05 21:48] #124 closed

[2020-02-05 21:49] stmcallister commented on #70
All true! Hopefully #190 was a good start for this. Please open another issue or comment here if that is not the case.

[2020-02-05 21:49] #70 closed

[2020-02-05 22:19] stmcallister commented on #92
Thanks for the PR @bradleyrobinson ! Appears #93 solved this. Closing.

[2020-02-05 22:19] #92 closed

[2020-02-05 22:22] stmcallister commented on #100
Closing old issue. This appears to be addressed. Please reopen or post another issue if there needs to be more discussion.

[2020-02-05 22:22] #100 closed

[2020-02-05 22:26] stmcallister commented on #135
Appears #164 addressed this. Closing Issue. Please reopen if this is still a problem.

[2020-02-05 22:26] #135 closed

[2020-02-11 01:25] stmcallister commented on #50
Does this issue still need to be addressed? Happy to help, if so.

Going to close this issue. But, please comment here, or create a new issue and let us know how we can help. Thanks!

[2020-02-11 01:25] #50 closed

[2020-02-11 01:26] stmcallister commented on #81
Assuming that #123 resolved this issue. Please comment or open a new issue if this needs to be discussed further.  Thanks!

[2020-02-11 01:26] #81 closed

[2020-02-13 21:15] stmcallister commented on #181
I talked with the Engineering team at PagerDuty and there are no plans for documenting this field. Our stance on these libraries is to only cover the documented endpoints and fields. So, thank you for submitting the PR, but I merged it by mistake. I just rolled it back.

[2020-02-13 21:15] #181 closed

[2020-02-13 21:17] stmcallister commented on #146
@NautiluX I'm not seeing this. Are you using the library directly or the CLI?

[2020-02-14 06:57] NautiluX commented on #146
I think 1.1.1 contains the changes for the v2 event api. Thanks for creating the release! However, I think issue #186 has not been addressed, which means the lib cannot parse v2 event api responses.

[2020-02-17 21:02] alibasim86 opened #198 "Allowing custom API endpoint in NewClient config"
Hi,

Can we allow API Endpoint customization during client creation to allow the run from an air gapped environment where calls are made via an API gateway.

https://github.com/PagerDuty/go-pagerduty/blob/44f00b57ce291cef4ae1e1cb3e0f8f3a0ceccbc6/client.go#L98

Thanks
Ali

[2020-02-21 18:08] stmcallister commented on #146
@NautiluX Sounds good. I'll take a look at #186 soon!

[2020-02-21 18:09] #146 closed

[2020-02-21 19:42] #186 closed

[2020-02-21 23:13] stmcallister commented on #198
Hi @alibasim86! That's an interesting thought. While we think about ways we could address this, does your API gateway support a proxy mode? We do pick up environment proxy settings if you have `HTTP_PROXY` or `HTTPS_PROXY`.

[2020-02-21 23:25] stmcallister commented on #178
Hello! No, any documented endpoints or fields that are not covered by the client are only because we haven't had the chance to add them.

Although, @jasonmoo-we , you mention that updating an incident is not supported. I believe that can be handled with `pagerduty.ManageIncidents`. Is there something more you're looking for there?

[2020-02-23 19:36] alibasim86 commented on #198
Hi, even if the API gateway supports its the system internally that is using the go-pagerduty will be pointing to a custom URL (that's the API gateway) to talk to PagerDuty public API endpoints for both API and events.
ie:
api.pagerduty.com might be   vip.mydomain.com/api
events.pagerduty.com might be vip.mydomain.com/events

Thanks
Ali

[2020-03-02 22:03] stmcallister commented on #153
Thanks for bringing this up! This should be addressed by #207.

[2020-03-02 22:03] #153 closed

[2020-03-05 01:20] stmcallister commented on #198
Would a function like this do the trick?

[code]

[2020-03-05 05:22] alibasim86 commented on #198
yep, That would do it. Thank you

[2020-03-06 18:29] stmcallister commented on #198
So, we went with a little bit different of an approach. The way you'll set a custom APIEndpoint will look something like this:

`client := NewClient("SOME_TOKEN", WithAPIEndpoint("https://mypdapi.com"))`

[2020-03-07 00:47] stmcallister commented on #198
Please comment, or post another issue, if you have further trouble with this.

[2020-03-07 00:47] #198 closed

[2020-03-27 17:58] cnmcavoy opened #211 "CreateEventWithHTTPClient panics if the request fails"
CreateEventWithHTTPClient panics on [L52](https://github.com/PagerDuty/go-pagerduty/blob/master/event.go#L52) because `resp` may be nil. Previous versions of the code did not attempt to inspect the `resp` struct and were unaffected. The bug seems to have been introduced in [this commit](https://github.com/PagerDuty/go-pagerduty/commit/cb8001f21274406fd3c62803cef4088e17477984#diff-9fb85d1ee9f1b0a59

[2020-04-19 23:44] mblaschke opened #218 "incident.ID or incident.Id"
In `incident.go` the Incident struct defines the `Id` and from the `APIObject` also the field `ID` which both gets parsed from `json:"id"`.

Sometimes `ID` is filled sometimes `Id`.

https://github.com/webdevops/pagerduty-exporter/issues/8

[2020-05-06 23:30] n-apalm commented on #188
I am also seeing this issue with `SupportHours` . I see the same issues with related fields like `IncidentUrgency` . I am able to create a new service of any valid configuration, but I am then unable to update these fields. The same issue manifests where a 200 is erroneously returned.

I am able to update the fields successfully when I test in Postman... Is there some discrepancy between the go cl

[2020-05-08 00:12] stmcallister commented on #188
Hello! So, I'm able to create SupportHours with the following:

[code]

However, i'm not able to update through the library OR Postman. @n-apalm am I reading correctly that you were able to update `support_hours` by calling the API directly through POSTMAN?

[2020-05-08 19:30] n-apalm commented on #188
Yep, just tested again. Sending via Postman I get a `200`. The correct change is reflected in the response, as well as in the UI. Payload being:
[code]

I am also able to successfully update with these different values (leaving the rest of the body unchanged):
[code]

and back down to no support hours or scheduled actions, incident urgency constant low:
[code]

[2020-05-08 19:37] n-apalm commented on #188
However, I am unable to mimic this behavior with the go client, even though I am using what appear to be the exact same values. I noticed the terraform project references a different go client repo that has slightly different Service structs. Are urgency / support hours updates working in that project? I haven't been able to try out that client yet since it would require a little bit of a refactor

[2020-05-08 22:07] n-apalm commented on #188
@stmcallister  I figured it out...

The JSON body on service UPDATE must be nested under a `service` key. It looks like the terraform client does this. Willing to bet this was the difference between our 2 Postman tests.

[2020-05-08 22:25] jspaleta opened #221 "Feature Request: Implement function to truncate payload details before sending overly long events"
So now that pagerduty is going to enforce the 512KB size it would be fantastic if there was a way to have the golang client library truncate the details automatically.

The issue is right now, the details in the client library is an object, so not arbitrarily truncated, individuals using the client library will have to sanitize the length of every field in that json object, or delibrately construc

[2020-05-08 23:28] #188 closed

[2020-05-09 00:18] echlebek opened #222 "Return structured errors from functions that do HTTP requests"
This is a similar issue to https://github.com/PagerDuty/go-pagerduty/issues/95, but somewhat distinct.

In `ManageEvent`, several different conditions can return an error. Depending on the type of error delivered, the caller might want to take a variety of actions. However, this is hard-to-impossible currently, since the function just returns a string.

One use case, for instance, is retrying a re

[2020-05-15 00:07] stmcallister commented on #218
Oh, the joys of inheriting a library. :) Thanks for pointing this out! Were you ever able to get a value back for `incident.ID`? I'm unable to do so. And, technically, it should be `incident.APIObject.ID`. But, still no value there for me either.

[2020-05-17 20:17] mblaschke commented on #218
If the Id field from the incident struct is removed the issue should be fixed :)

[2020-07-09 21:36] Erog38 opened #232 "Improper unmarshalling"
https://github.com/PagerDuty/go-pagerduty/blob/ab036b78b736ed26edc87493d27b73949bd422cd/incident.go#L429

Use of this field doesn't unmarshal properly and causes the sdk to not allow adding responders to an event.

https://play.golang.org/p/uDs91_9GXDG

[2020-07-09 22:25] Erog38 commented on #232
In fact, I think just adding an `s` to this line would fix it.
https://github.com/PagerDuty/go-pagerduty/blob/ab036b78b736ed26edc87493d27b73949bd422cd/incident.go#L445

So it should be
[code]
and not
[code]

[2020-07-15 16:08] stmcallister commented on #232
Thanks for pointing this out! Would you mind submitting a PR for the fix?

[2020-07-16 18:32] Erog38 commented on #232
Sure thing @stmcallister ! I opened #233 for review to fix this and a couple other spots. I wasn't sure you watched this repo, I assumed most of this code was generated from the openapi spec or similar.

[2020-09-01 10:40] atmosx opened #238 "`ListIncidents` pagination"
Hello! I need to fetch alerts since the beginning of the year. I can't handle pagination. Keeping the default limit of 25 results per page, here's a code sample:

[code]

According to [the documentation](https://developer.pagerduty.com/docs/rest-api-v2/pagination/#endpoints-supporting-cursor-based-pagination) there should a `pagination_token` method, but there is no such method. However, the avail

[2020-09-01 11:31] atmosx commented on #238
According to the docs:

I can use `opts.More`.

[2020-09-01 11:31] #238 closed

[2020-09-01 11:36] atmosx commented on #238
PoC for anyone looking for examples:

[code]

[2020-09-03 10:23] rtfb commented on #218
Yes, but removal of `Id` would be a breaking change. I suppose the only fix for this issue is to find all the places where `Incident` is populated and cross-populate the fields.

[2020-09-05 19:27] mblaschke commented on #218
Now it can happen that it is pure luck which field is used so isn't it better to introduce a breaking change then having a random issue in the code?
This bug is now opened since April and I had to add a detection which field is used in all apps. Not really happy with that.

[2020-09-14 08:50] goatherder commented on #148
I don't think this has been fully addressed - there are still some client functions that don't use the client struct - so we cannot override anything.  eg: for v2 events - ManageEvent.

I have opened a PR which addresses this.

[2020-09-21 09:45] hagaishapira opened #243 "ManageIncidents - support set resolution"
In case of incident resolution (status is resolved) the [API](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1incidents/put) allows to set a resolution string.
As far as I can see, this is currently not supported.

[2020-09-23 01:47] Cescante commented on #89
Looks like this is a catch-all generic error. When my request body is malformed e.g. accidentally put the incident in a list, the exact same error was returned.

[2020-10-06 11:41] atmosx opened #244 "`opts.Since` doesn't work properly"
Hello,

The application I'm writing fetches incidents occurred the last 1 minute(s). I'm using `opts.Since` to fetch the results, but the API is not returning the expected results. Here's an example:

[code]

Now if `opts.Since` is set to `2020-10-06T10:30:00` I can see the incident created at `2020-10-06T11:08:29Z` according to the API. If I use a time closer to the incident, such as `2020-10-06T

[2020-10-06 11:45] theckman commented on #244
What if you set the Until time?

[2020-10-06 13:59] goatherder opened #245 "Mock Client - with ManageEvent support?"
This is essentially issue https://github.com/PagerDuty/go-pagerduty/issues/148

Except ManageEvent wasn't implemented there, so you couldn't mock that.

I have created a PR: https://github.com/PagerDuty/go-pagerduty/pull/241

[2020-10-06 15:09] atmosx commented on #244
I use until doesn't work at all:

[code]

doesn't display the `2020-10-06T11:08:29Z` incident. As a workaround setting `opts.Since` to `time.now().Add(d)` where `d` is `time.ParseDuration("-2h")`. Then I'm fetching all incidents every minute and compare `createdAt` and `LastStatusChangeAt` which are date strings in `RFC3339` format  and check if any these dates falls within the a 2 minutes thresho

[2020-10-17 03:18] Sjeanpierre commented on #245
PR #241 has been merged. Thank you!

[2020-10-17 03:18] #245 closed

[2020-10-26 12:28] atmosx opened #247 "Access to Summary Details"
Hello,

The web interface features for "Alerts" features a  "Hide Details" toggle in the "Summary" column. If I click the toggle I see a table. Under the "firing" row, I can see AlertManager configuration featuring "labels" and "annotations".

Is this data available through the API? I came across [incident details](https://developer.pagerduty.com/docs/tools-libraries/retrieve-incident-details/#int

[2020-10-26 14:39] atmosx commented on #247
The solution is to use the `ListIncidentAlerts` object:

[code]

[2020-10-26 14:39] #247 closed

[2020-11-10 20:04] mblaschke commented on #218
any progress here?

[2020-11-16 17:53] metskem opened #249 "Support for (assigning and querying on) Tags"
I see the [PagerDuty REST api supports Tags](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1tags/get), but I don't see any support for Tags in this golang library.

Am I correct?
And if so, are there any plans to support it?

[2020-11-16 18:26] stmcallister commented on #249
You are  correct! Adding support for tags in the library is definitely on my radar. Will hopefully be able to get to it soon.

[2020-11-18 22:20] stefprez opened #250 "ContactMethod field does not populate inside the NotificationRule on a User"
When fetching a user, the `NotificationRules` get populated for that user, but the `ContactMethod` field on each `NotificationRule` in the `[]NotificationRules` always seems to be empty.

[2020-12-04 01:33] stmcallister commented on #249
closing this as support for tags has been merged to master.

[2020-12-04 01:33] #249 closed

[2020-12-11 22:56] stmcallister commented on #211
Cleaning this up. Assuming #224 fixed this issue. Please open another issue if still having issues.

[2020-12-11 22:56] #211 closed

[2020-12-12 01:02] stmcallister commented on #222
Hello! Sorry for the delay on responding to this. I like your suggestion. Any chance you could submit a PR that implements this?

[2021-01-17 00:39] mblaschke commented on #218
Still no progress here?

[2021-02-05 23:29] theckman commented on #222
So I'm not confident the structure above makes sense for the error structure that the PagerDuty API commits to returning. It may make more sense to have the error type include the HTTP status code, as well as a structure aligned with what's here: https://developer.pagerduty.com/docs/rest-api-v2/errors/

I'm hitting an annoying case with this lack of error propagation, where I'm trying to enumerate

[2021-02-05 23:34] theckman commented on #222
Actually, that looks to mostly exist here. I'd want to see whether I could provide something more than an `interface{}` for those errors:

https://github.com/PagerDuty/go-pagerduty/blob/eab6a10fcb58a8a86ab84ed9c14231e549a09228/client.go#L59-L63

[2021-02-05 23:35] echlebek commented on #222
Hi @stmcallister and @theckman.

Sorry I didn't respond before. I think at the time, I was probably busy with the holiday season and your message got lost in the noise. But, now I'm glad I didn't respond, because Tim made a great point about using the structured data from PagerDuty's API.

I think that including the details from the expected error response as suggested makes a great deal of sense.

[2021-02-06 00:51] theckman commented on #222
@echlebek thank you for that offer. I've a branch that I think should accomplish what both you and I want. Let me just add a blurb to the `README.md` about how to use the new exported error type, and maybe the package documentation as well, and then I'll get the PR up and tag you on it for 👀 .

[2021-02-07 07:07] theckman commented on #221
@jspaleta do you know, does the Events API return an error if you try to submit a payload larger than 512KB? Or does it silently swallow it? If this returns an error, I'd be tempted to do the same and require that the caller truncate the payload themselves since I am not sure how we'd even figure out the proper way to truncate it.

[2021-02-08 00:03] theckman opened #267 "Exposing context.Context in exported API without requiring major version bump"
~I'm raising this issue in anticipation of #266 being merged without many changes to the implementation.~

**Update:** This proposal has been accepted and will be moving forward.

I'd like to provide consumers the ability to cancel outstanding requests using `context.Context` by creating methods within the package that take it as their first argument. We would not replace the current methods, but

[2021-02-08 00:25] theckman opened #268 "Update initialisms / acronyms to be capitalized"
There are some names in the packages that are either initialisms or acronyms, and they are not capitalized. That is the common style, and is called out in the [Go wiki](https://github.com/golang/go/wiki/CodeReviewComments#initialisms), and so it seems good to enforce it here.

This will definitely be a breaking change, and so we should wait to do that until v2.0.0.

Example: https://github.com/Pag

[2021-02-09 17:49] #222 closed

[2021-02-09 18:24] theckman commented on #267
@stmcallister happy to chat about this proposal over VC / voice if it's easier to have a high bandwidth conversation. If I take on this work I'll probably need to rely on you for reviews + merges, so I want to make sure we're aligned and I address any concerns you have before we go down the path (since it'll require a few PRs to accomplish).

[2021-02-11 01:00] jspaleta commented on #221
Hey,

I believe event api returns a status 400 and a json message with details as to the specific error. Multiple things trigger a 400 response.  It looks like they may have added additional length limits on individual payload items as well as the limit on the event itself.

https://developer.pagerduty.com/docs/events-api-v2/trigger-events/
payload.summary has a 1024 character limit
payload.dedup_

[2021-02-12 09:55] theckman opened #270 "Investigating returning non-pointer types from methods / functions"
There are some pointer values returned from methods, like `ListIncidents`, where it's not clear why the value is returned as a pointer value. We should look at changing these return types in v2.0.0 to be their non-pointer types.

[2021-02-17 17:53] mblaschke commented on #218
Ping?

[2021-02-17 19:10] theckman commented on #218
No progress to report. Thank you for checking in.

[2021-02-17 19:13] theckman commented on #218
One potential path forward would be to present a PR and we can discuss the implementation there.

Honestly speaking, I am trying to do everything I can to avoid releasing a v2 of this library because of Go Modules and the challenges it would introduce to consumers of this library.

I am not sure how we could reliably know which ID field to use with the JSON parsing.

I wonder if we should just rel

[2021-02-17 19:19] theckman commented on #218
The bigger elephant in the room is that I think this library should probably be rewritten and released under a new name, partially to avoid the Modules challenges but to also give it a fresh start.

To clarify, it never had a 0.x release, and so the API was never explored. We committed to a stable API at launch. Modules makes it really hard to upgrade major versions, and so we are totally hosed an

[2021-02-17 21:41] mblaschke commented on #218
I would more or less just remove the `Id` from the incident struct:
https://github.com/PagerDuty/go-pagerduty/blob/master/incident.go#L86

Current state: marshal/unmarshal can lead to unpredictable behaviour.

Even if there is no version system other projects are still pinning the library to the commit hash (like any other package system). If people always use latest, sorry.. their fault. It's mor

[2021-02-18 17:47] blockpane opened #274 "CreateEventWithHTTPClient nil pointer reference"
[Line 52 of event.go](https://github.com/PagerDuty/go-pagerduty/blob/master/event.go#L52)

has the following:

[code]

In the case of an actual error, it is very likely that `resp` is nil, and will result in a runtime panic. For example:

[code]

The V2 client handles this properly and returns nil. (Also note: I meant to use the V2 API in the first place, so this doesn't actually affect me.)

Than

[2021-02-20 00:41] theckman commented on #274
@blockpane good lookin' out. Would you be able to raise a PR? If not I can get to it this weekend.

If you raise the PR I can review it + merge it; otherwise I'm blocked on a PagerDuty employee giving me a review since I don't have the power to merge my own PRs.

[2021-02-20 00:46] theckman commented on #218
@mblaschke You've convinced me. The API compatibility guarantee should be made on _stable APIs_. Based on the nature of this bug I would argue this API is currently not stable, and thus should not be held to the same compatibility guarantee.

We should avoid making breaking API changes, but for this bug don't think we can and I think that's okay. We should just be transparent and try to make it as

[2021-02-20 00:53] theckman opened #277 "Add IncidentDetails.Title field and mark IncidentDetails.Description as deprecated"
Refer to this line of code: https://github.com/PagerDuty/go-pagerduty/blob/1df5787177c5e24a3b886dbf22d67e903327aab7/webhook.go#L31

The [PagerDuty V2 Webhooks documentation](https://developer.pagerduty.com/docs/webhooks/v2-overview/#incident-details) indicates that the `description` field is deprecated in-favor of the `title` field. We need to add a `Title` field to the struct, and add a comment a

[2021-02-20 06:26] blockpane commented on #274
Absolutely, but I don't see a develop branch, where should I send the PR? master?

[2021-02-20 06:38] blockpane commented on #274
Assuming you take Friday nights off, like I *should*, lol, I assumed a PR vs master, if inappropriate we can revisit next week, cheers, and thanks again for providing a useful free library :)

[2021-02-20 21:34] theckman commented on #177
This should have been fixed via #266.

[2021-02-20 21:34] #177 closed

[2021-02-20 21:37] theckman commented on #178
@jasonmoo-we I wanted to see if you had a chance to see @stmcallister's question.

I think it's well-known (based on the PRs that have been in-flight) that there are some gaps we can address in terms of API coverage / compatibility. **Is there anyone who would like to enumerate all of the differences so that we can track them?**

Alternatively, we can close this issue and track each deviation on a

[2021-02-20 21:43] theckman commented on #221
@jspaleta thank you for your comment. We recently made two changes, #265 and then the final implementation in #272, to provide a way to better consume errors from the API. That includes the StatusCode and any error strings contained within.

Would you take a look at what we did in #272, and let me know if they seem to address your request/concern? If so I'll close this with a note that it will be

[2021-02-20 21:46] theckman commented on #243
@hagaishapira would you be willing / able to get a PR raised to add that field to this type: https://github.com/PagerDuty/go-pagerduty/blob/69ade4b95ef0ff1d582a7d9f226a98f9db886df1/incident.go#L155-L162

The reason I ask is that I have permission to review and merge the PRs of others, and not my own, so an external contribution is easier for me to shepherd towards release.

[2021-02-20 21:49] theckman commented on #250
@stefprez can you give me an idea of how you're calling `GetUser`? Are you telling it to include the `notification_rules`?

[2021-02-20 21:55] theckman commented on #250
@stefprez oh sorry, I misread your question originally. That is the expected behavior in terms of how PagerDuty documents their API, and the fact you expected it to be present might indicate a deficiency in our library. Please refer to [this API documentation page](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1users~1%7Bid%7D/get).

You'll notice that under th

[2021-02-20 22:01] theckman opened #279 "Research updating some fields to use APIObject type instead of full objects"
There are some PagerDuty REST API endpoints that return API object references instead of the full objects for specific keys, to avoid sending massive amounts of (potentially unused) JSON across the wire.

Refer to this comment on a PR where a change was required to use `APIObject` instead, because it was the shape expected by the PagerDuty API: https://github.com/PagerDuty/go-pagerduty/pull/273#di

[2021-02-20 22:02] theckman commented on #250
I've opened that issue and will now close this one in favor of #279

[2021-02-20 22:02] #250 closed

[2021-02-20 22:04] theckman commented on #159
I believe this should have been closed by #226, but the phrasing in the PR did not trigger GitHub to do it automatically.

@avdhoot if that's incorrect please feel free to re-open this issue.

[2021-02-20 22:04] #159 closed

[2021-02-20 22:09] theckman commented on #95
@bradleyrobinson we recently merged PRs #265 and #272, which will expose a new `APIError` type that gets returned for API errors. This should address some of your request, although we've chosen not to capture / return the response itself.

For non-error responses, I think it would be better to ensure our structures are able to deserialize the JSON so that we can provide that back to consumers. I'm

[2021-02-20 22:10] theckman commented on #244
I'll see if I can try to allocate some time to confirm whether or not this seems to be an issue on our side, or an issue with their API. Since changing the time makes it work, my suspicion is that it's not an issue with us and it's something with them.

[2021-02-22 15:14] stefprez commented on #250
Excellent. Thanks for the additional context!

[2021-02-23 07:48] theckman commented on #128
I think the issue @rtfb reported was fixed via 4f6a061e0d3750cb80a7629f4cd0673360976b8c and b6a682c4a68cbdc6c69f3f23757f6c07fa30718e. So I'm going to close this issue.

[2021-02-23 07:48] #128 closed

[2021-02-23 07:51] theckman commented on #128
@abtris I'm not sure I fully grok the challenge you're experiencing. Would you be able to file a new issue if you're still experiencing it.

[2021-02-23 10:23] theckman opened #280 "Add concrete types for V2Event.Images and V2Event.Links"
Currently these fields on the `V2Event` type are a `[]interface{}`, which isn't useful. Let's instead generate concrete types and provide a slice of those instead.

This would be a breaking API change, and so would need to be done for v2.0.0. See #182.

[2021-02-23 20:23] bcmills commented on #218
(I arrived here via https://github.com/golang/go/issues/44550.)

Is there a reason this has to be a breaking change at all?

It seems like this could be addressed by instead deprecating the `Id` field, removing its `json:` field tag, and adding a custom `MarshalJSON` method to the `Incident` struct. The `MarshalJSON` method could error out if the `Id` and `ID` fields have conflicting values, and o

[2021-02-26 01:40] theckman commented on #267
Okay, I've spoke with Scott out of band about this and we're aligned on this being the right path forward to avoid introducing breaking changes. I'll start opening the PRs to update each file.

[2021-02-27 08:23] theckman opened #295 "List* methods should not be paginated by default; create paginated versions"
In v1 of the API we do not disambiguate between methods that do the pagination for us, and those that do it on our behalf. A good example is `ListBusinessServices()`.

For v2 we should probably update `ListBusinessServices()` to not automatically do pagination, and create a `ListBusinessServicesPaginated()` version instead.

We should probably adopt this naming scheme in v1 for anything that we ad

[2021-02-27 08:28] theckman opened #296 "Methods with implicit pagination should accept an include function"
Related to #294, in v2 we should investigate having the paginated methods accept a `func(T) bool` where, where `T` is the type of item being paginated and the bool is whether the item should be included. For example,
[code]

[2021-03-05 07:46] theckman opened #305 "Remove *http.Response returns from API methods"
Currently we have some methods that return an `*httpResponse`, like this one: https://github.com/PagerDuty/go-pagerduty/blob/1a0c44e17d3ec590336e5d5b256ee123ac6cc023/ruleset.go#L170

Although, digging further I noticed that in many cases we read the response body and don't replace it:

https://github.com/PagerDuty/go-pagerduty/blob/1a0c44e17d3ec590336e5d5b256ee123ac6cc023/ruleset.go#L174

https://

[2021-03-06 02:42] theckman commented on #267
@stmcallister all PRs have been opened for this issue, ready for review!

[2021-03-07 23:04] #274 closed

[2021-03-07 23:07] theckman commented on #274
This will be included in `v1.4.0` when it's eventually release. If you're actively running into this on v1.3.0, please file an issue and we can work on backporting the fix to a v1.3.1.

[2021-03-18 06:37] theckman commented on #243
@hagaishapira I went ahead and raised a PR since I didn't hear back from you. Your request should make it as part of v1.4.0 when it's eventually released.

[2021-03-18 22:35] gerardocorea opened #314 "ID generator for APIObject struct does not exist"
Starting to look into using this library but I am noticing that some sort of function to generate a none existing ID for that resource type does not exist. Are we expected to always generate one ourselves?

[2021-03-18 22:42] theckman commented on #314
For the create you're supposed to leave it empty, PagerDuty generates it server side and provides it back in the response. We do the same in our client.

[2021-03-19 00:16] #243 closed

[2021-03-19 01:01] theckman commented on #314
@gerardocorea I'll close this issue now; let us know if you have any other follow-up questions.

[2021-03-19 01:01] #314 closed

[2021-03-19 16:01] gerardocorea commented on #314
Thank you for the insight, you are correct @theckman. A quick follow up question. If I wanted to update an existing integration for a service, is the only way to achieve this is to get a list of all the services(iterate over the the list to find the one I want and grab its ID) then grab the list of integrations for that service(iterate over the list of integrations and grab the specific ID) and th

[2021-03-19 19:03] gerardocorea opened #315 "Add ability to create or update integrations with email filter rules"
The pagerduty api supports fields for email integrations that allows specification from regex's and how to handle creation of incidents. Adding in structs for these properties can make it easier to manage these rules.

https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1services~1%7Bid%7D~1integrations~1%7Bintegration_id%7D/put

Example API call that can be used bel

[2021-03-19 23:36] theckman commented on #315
@gerardocorea I'm an outside contributor to this repo, but PagerDuty has set a policy of not supporting undocumented API features in the client. As best I can tell the field you refer to isn't documented on that URL, and so we cannot support this functionality until they add documentation for it.

@stmcallister would you be able to also relay the request that this be documented?

[2021-03-20 00:54] theckman commented on #314
@gerardocorea assuming you don't know the IDs beforehand, yeah that's what you have to do.

[2021-03-22 21:57] gerardocorea opened #316 "EscalationRule struct should accept a slice of APIReference rather then APIObject for Targets"
While attempting to configure an escalation policy I continued to receive the following error below.

[code]

upon further research in the api documentation it shows that the fields `Targets` expects an array of targets with an `id` and `type` being required. `type` should be set to `user_reference`

The `GetUser` method returns a User struct with an `APIObject` struct. The `type` field not popula

[2021-03-22 23:42] theckman opened #317 "Fix any linter issues and add missing GoDoc comments"
While doing some of the work to add `context.Context` to the repo, I found a few cases where the linters on my system flagged some things to be changed.

I think it makes sense to make this the final change that goes into v1.4.0.

[2021-03-23 03:19] gerardocorea commented on #315
Sounds good, I have a working version of this which im sure could use some feedback. If there also a way in which I can contribute back the documentation please feel free to let me know.

[2021-03-23 05:38] theckman commented on #316
@gerardocorea your example snippet seems to omit some things. Which method(s) did you call with which input? I'm not fully grokking what's amiss here.

[2021-03-23 16:57] gerardocorea commented on #316
@theckman  the issue I see is that `GetUser` method returns a User object with an APIObject in which the `type` field is not populated. This causes the call to create an escalation policy to fail since the `type` is a required field. Your right that the title might not be right since an APIObject has both the ID and `Type` fields so I can adjust that as needed.

When trying to create the escalatio

[2021-03-23 17:02] gerardocorea commented on #316
@theckman  the issue I see is that `GetUser` method returns a User object with an APIObject in which the `type` field is not populated. This causes the call to create an escalation policy to fail since the `type` is a required field. Your right that the title might not be right since an APIObject has both the ID and `Type` fields so I can adjust that as needed.

When trying to create the escalatio

[2021-03-23 17:54] theckman commented on #316
@gerardocorea I'm pretty sure that's what you have to do, unfortunately. `GetUser` [from their REST API](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1users~1%7Bid%7D/get) doesn't return a `user_reference` it returns a full `user`. So you need to update it to indicate it's only a reference for the API to accept it.

[2021-03-23 17:57] theckman commented on #316
Ah I see now, it's the same issue as #218.

[2021-03-23 18:00] theckman opened #318 "Remove embedded APIObject from struct types, since it's not inheritance"
The V1 API currently tries to use embedding as inheritance by putting the `APIObject` inside of each type to avoid duplicating fields, and it's caused a few issues that will require us to make breaking changes to fix (#218 #316). We will need to find and fix these issues for v1.5.0, and for v2.0.0 we should remove the embeds completely and flatten the structures by hand.

[2021-03-23 22:11] theckman commented on #316
To be clear, once fixed this will avoid the field being unset.  You will still probably have to update it to be a `user_reference` so the API accepts it.

[2021-03-30 01:01] theckman commented on #267
All PRs were merged; this is done! 🎉

[2021-03-30 01:01] #267 closed

[2021-04-01 13:50] whereswaldon commented on #318
So I'm just a random user with far less context than you have on this problem, so please take this as just an uninformed opinion:
Your use of embedding here seems like a fine use case of composition, not inheritance. Grouping shared common fields into a subtype seems like a good idea.

From my outsider perspective, the problem is that the outer types that embed the `APIObject` duplicate some of it

[2021-04-02 01:45] gerardocorea commented on #316
Noted. If  you think its fine to close this issue then we can.

[2021-04-02 06:28] theckman commented on #318
@whereswaldon not even maintainer's guilt, my buddy started this project while he was there. I'm carrying his guilt, jk. 😂

The half-truth is that I introduced Go at PagerDuty so I feel semi-responsible for him even starting the project (😛 ), but also I'm a user of it for my job at Netflix.

@whereswaldon thank you for sharing your thoughts on this, although I'm not sure I'm aligned with your pers

[2021-04-02 06:37] theckman commented on #316
I'm going to keep it open until we merge a PR to address it. I should start to work on v1.5.0 once all of the v1.4.0 open items are addressed.

[2021-04-04 14:24] whereswaldon commented on #318
You're welcome. I think that what you're saying is true of composition within OOP languages, but those also don't automatically promote their fields in Java/C++/friends. I think that composition in Go is designed to be flexible enough to represent both relationships. You embed types for an is-a relationship, and you give those fields names (so that their members are not promoted) for a has-a relat

[2021-04-15 00:21] #317 closed

[2021-04-15 00:29] theckman opened #320 "v1.4.0 Release Notes / Changelog"
Issue to track the writing of the  `v1.4.0` release notes / changelog, and opening a PR for them. At the time of issue creation there is one outstanding PR that's very small, and once that's been merged the release notes can be written. We should also make sure the Version string is updated to `"1.4.0"`, and make that a regular part of our release checklist going forward.

[2021-04-15 22:01] msuterski opened #321 "Failing calls to create services dependancies"
We're having a very inconsistent results with calls to create dependancies between services using [`AssociateServiceDependencies`](https://github.com/PagerDuty/go-pagerduty/blob/4c4849de20a24fa3e1b271fa3dc0a4c1d1c2184b/service_dependency.go#L81)

The order of execution is:

1. Create a technical service
2. Check if business service exists
3. Check if just created technical service exists
4. Create

[2021-04-16 06:52] theckman commented on #321
@msuterski which version of Go and this library are you using? That'll help me hone-in on the code to be looking at.

The inconsistency of it, and with it being a NotFound error from the API, sounds like it's not at our layer but at the API. I can take a look to see if there's anything this library may be doing with that call path that looks suspect, but by and large this package is just a pass-th

[2021-04-16 08:42] theckman commented on #305
So I think I came up with a pattern we can use that allows us to remove this from the majority of the API, while also giving consumers a debug capability to allow them to capture the response if they need it. I'll raise a PR for that once v1.4.0 is out.

[2021-04-16 14:09] msuterski commented on #321
@theckman thanks for a quick response.

We're using a fork that this PR was based on https://github.com/PagerDuty/go-pagerduty/pull/304 (until v1.4 gets released) and golang:1.16.

Would it be helpful if we opened a support ticket with PD about it?

[2021-04-18 02:11] theckman commented on #321
@msuterski so I have a few learnings and suggestions.

The `*http.Response` being `nil` makes sense, but is unfortunate. The internals of the library never intended for the `*http.Response` to be exposed, but at some point that was added to some methods with the assumption it was. I plan to remove this completely in a future release, while providing other debug mechanisms, so that it can work reli

[2021-04-23 07:15] #320 closed

[2021-05-03 14:20] metskem opened #327 "API error responses no longer contain error code explanations"
A couple of months ago I updated to the 1.4.0 release of the pagerduty golang library.
I noticed that error responses now have become more cryptic, and leaves us basically in the dark.
I have 2 examples with the response from 1.3.0 and 1.4.0:

1.3.0:
_Failed call API endpoint. HTTP response code: 400. Error: &{2001 Invalid Input Provided [User cannot be removed as they belong to an escalation poli

[2021-05-03 14:23] theckman commented on #327
@metskem I can take a look at that. In the mean time are you able to use the `APIError` field here to get that additional context: https://pkg.go.dev/github.com/PagerDuty/go-pagerduty#APIError

[2021-05-03 14:27] theckman commented on #327
Actually, the `v1.5.0` tree hasn't been started on `master` yet. This means we can raise the PR there, and I'll make sure it gets onto the `release-1.4.x` branch.

[2021-05-03 17:17] metskem commented on #327
I can use APIError like in

[code]

But then still I don't know how to get the detailed error explanation (I might be missing something here).

[2021-05-04 01:12] theckman commented on #327
@metskem Assuming we are inside of that `errors.As()` if block:

[code]

[2021-05-04 07:20] metskem commented on #327
That works perfect Tim. Thanks for the quick response, I appreciate.
I guess we can close the issue now.

[2021-05-04 07:20] #327 closed

[2021-05-08 22:41] theckman commented on #321
@msuterski wanted to check in and see if you'd made any progress on this.

[2021-05-14 00:21] theckman commented on #315
@gerardocorea sorry that I missed your question before now. As I recall, that's something that internal product folks at PagerDuty need to do. I had asked the same question once. 😉

[2021-05-16 07:02] theckman commented on #268
We need to remove this `Id` field anyhow because of the issue reported in #218, and so we are going to move this into `v1.5.0`.

[2021-05-16 07:12] theckman commented on #277
Looks like I didn't scroll up. `Title` is already there, just needs a comment.

[2021-05-16 07:30] theckman commented on #279
Another example: https://github.com/PagerDuty/go-pagerduty/blob/e23b94cea01f37da371fd9d7efb4e20ea0e36ff2/webhook.go#L32

[2021-05-16 07:39] theckman commented on #244
@atmosx do you know if you're still seeing this happen?

[2021-05-16 07:40] atmosx commented on #244
Switched jobs, we're using betterUptime now, so as far as I'm concerned you can close this.

Ty!

[2021-05-16 07:59] theckman commented on #244
:+1:

[2021-05-16 07:59] #244 closed

[2021-05-16 23:43] theckman commented on #327
I raised #334, which should help add some fidelity back to the error strings. It'll be part of `v1.5.0` once it's released.

[2021-05-26 13:43] justolinas opened #336 "Help with posting incident notes via API"
Went through some discussions, and couldn't find the answer, so trying my luck here :)
I'm trying to post an incident note using https://github.com/PagerDuty/go-pagerduty/blob/master/incident.go#L418
and can't get through `HTTP response failed with status code 400, message: Malformed \"From\" header (code: 1028)` error.
Here's a snippet of getting user info for APIObject, assembling the note and t

[2021-05-27 08:14] justolinas commented on #336
Just checked the documentation https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1incidents~1%7Bid%7D~1notes/post
It's looking for a user email. So I had to hack it like so.
`user.APIObject.Summary = user.Email`
and now it works :)
This definitely does not feel right after all.

[2021-05-27 09:22] justolinas commented on #336
Just checked the documentation https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1incidents~1%7Bid%7D~1notes/post
It's looking for a user email. So I had to hack it like so.
`user.APIObject.Summary = user.Email`
and now it works :) tho does not feel right.

[2021-05-28 05:11] theckman commented on #336
It looks like this was added a long time ago in this PR: https://github.com/PagerDuty/go-pagerduty/pull/108, and the proper fix would probably be to add a `from` argument to the function in `v2.0.0` since it'd be a breaking change.

There was quite a bit of time where the maintenance of this package was best effort by folks without much Go under their belt, and so I suspect this just got missed in

[2021-05-28 05:28] theckman opened #337 "CreateIncidentNoteWithContext should accept a 'from' function parameter"
When creating an incident note within the PagerDuty API, you must provide a `From` HTTP Header to indicate which user was adding the note. [The API reference](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1incidents~1%7Bid%7D~1notes/post) also indicates that a partial user object can be both part of the request and response, and so you'll notice the `IncidentNo

[2021-05-28 05:28] theckman commented on #336
@justolinas Tracking this in #337 now. Let me know if there's anything I seem to have missed, and whether you're okay following that issue and closing this one.

[2021-05-28 08:43] justolinas commented on #336
@theckman ofcourse, thanks for following up!

[2021-05-28 08:43] #336 closed

[2021-06-30 06:00] dsymonds opened #339 "APIError unmarshaling broken in 1.4"
When making some types of API calls, the error response fails to unmarshal into the JSON structures and so the error itself is lost to client code, who only gets a JSON error. In particular, I was creating an override in the past, and triggered this.

My apologies for not capturing the error itself (I worked around it, then lost my terminal history), but it should be easy to reproduce. Let me know

[2021-06-30 06:01] dsymonds commented on #339
(Oh, to be clear, this was using v1.4.1, though I don't think any differences between v1.4.0 and v1.4.1 are relevant.

[2021-06-30 06:25] theckman commented on #339
@dsymonds I would need a reproduction case so that I can figure it out.

[2021-06-30 23:13] dsymonds commented on #339
I reproduced it with the `pd` command line tool in this repo (after fixing a wee bug in it).

Using an input file like:

[code]

or with any other date in the past, you can get an API response like:

[code]

and that doesn't unmarshal into the `APIErrorObject` struct, which has `Errors []string`.

[2021-06-30 23:16] theckman commented on #339
@dsymonds thank you for that. That `errors` key is supposed to be an array, at least according to their API documentation.

@stmcallister could you ping someone inside of PagerDuty to see whether that's expected? API documentation shows `errors` being an array but here it's a string.

https://developer.pagerduty.com/docs/rest-api-v2/errors/

[2021-07-01 00:52] stmcallister commented on #339
Interestingly, when I create an override with a raw API call, using dates in the past as you did, my errors object is an array of strings.

[code]

[2021-07-02 00:28] theckman commented on #339
I'm noticing that the output @stmcallister provided looks to be an array of objects, which may explain the failure. If so, I should be able to fix that.

While looking into that, though, I'm actually surprised the code works at all since it seems to provide a different payload than what the documentation shows. The [documentation](https://developer.pagerduty.com/api-reference/reference/REST/openap

[2021-07-04 08:05] theckman commented on #339
@stmcallister I was able to repro this, and created a dedicated branch with some extra debug code to show it: https://github.com/PagerDuty/go-pagerduty/tree/debugging_weird_errors

This specific commit has the instructions for how to use that branch to show the API returning an incompatible response: https://github.com/PagerDuty/go-pagerduty/commit/b053fc7c605093003d8672da3e7e994d268e0e45

In summ

[2021-07-04 17:08] theckman commented on #339
@stmcallister I could also replicate it with:

[code]

[code]

My expectation is that the JSON would instead look like this:

[code]

Note: the API key shown here is no longer valid.

[2021-07-04 20:39] theckman opened #342 "User.Teams field is missing struct tag"
https://github.com/PagerDuty/go-pagerduty/blob/e23b94cea01f37da371fd9d7efb4e20ea0e36ff2/user.go#L37

Based on the `encoding/json` documentation this is probably working for unmarshaling:

It's a good idea to fix the issue though, just in case the struct is ever used for updating team data in that way.

[2021-07-04 20:42] theckman opened #343 "User slice fields missing omitempty"
https://github.com/PagerDuty/go-pagerduty/blob/e23b94cea01f37da371fd9d7efb4e20ea0e36ff2/user.go#L34-L35
https://github.com/PagerDuty/go-pagerduty/blob/e23b94cea01f37da371fd9d7efb4e20ea0e36ff2/user.go#L37

These `User` fields should probably have their struct tags include `omitempty`, since you don't mutate them via the user object. There are dedicated API calls for managing contact methods, notifi

[2021-07-15 07:54] mike-migale-cko opened #344 "Feature Request: Add field "Bio" from Pagerduty to reports"
Hi everyone, would it be possible to add the field "Bio" to the report?
In our use case, each person has a unique ID used for different purposes but we can identify users with the ID (not Pagerduty User ID). We would include the ID in the BIO section of Pagerduty.
It would be nice if we can produce reports taking the "Bio" from Pagerduty API and adding it to the report. Is this something possible

[2021-07-15 08:35] theckman commented on #344
@mike-migale-cko I am not quite sure what you mean when you say the report. Could you clarify.

Per the [API docs](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1users/post), the Description field of the user is their bio. The User struct has that field: https://pkg.go.dev/github.com/PagerDuty/go-pagerduty@master#User.

Does that solve your need?

[2021-07-15 08:42] mike-migale-cko commented on #344
Hi Tim, apologies, yes it can be the "Description" field. For report, I mean when producing the on-call report (in any format). Let me know if this clarifies the question. Thanks in advance.

[2021-07-15 15:01] theckman commented on #344
@mike-migale-cko it doesn't, unfortunately. How are you generating one of these reports in Go with this client? I don't see any methods specific to that, so it's not clear to me where we would add that functionality in this repository or whether that's even something the PagerDuty API supports.

[2021-08-12 14:33] onikroo opened #346 "Backward incompatability - CreateService - existing setup works in 1.3.0 but not in 1.4.x"
Have an existing module used to create a service with 1.3.0, which now fails following update to 1.4.x

Steps to reproduce:

1. Create API client using API token:
`client := pagerduty.NewClient(*currentModel.PagerDutyToken)`

2. Get escalation policy:
`escalationpolicy, err := client.GetEscalationPolicy(*currentModel.EscalationPolicyID, &pagerduty.GetEscalationPolicyOptions{})`

3. Populate servic

[2021-08-12 18:51] msuterski commented on #321
@theckman we added backoff and retries to our code and the failures are less frequent. I'll updated to the latest release in upcoming weeks and let you know if we still see retries being triggered.

[2021-08-18 19:07] callumj opened #348 "Should all fields in Service type be `omitempty"
I am trying to just change the `alert_creation` type on a service (via `UpdateService`) and have noticed I cannot just set it as the JSON marshal wants to include `auto_resolve_timeout`, `acknowledgement_timeout`, `escalation_policy` (it isn't a pointer so `omitempty` doesn't work), `support_hours`, `scheduled_actions`.

Is there a reason a few of these are lacking `omitempty`?

[2021-08-21 11:28] discobean opened #349 "does not contain Content-Type: application/json"
Hi,

I get invalid content-type when trying to run the pagerduty client.  It doesn't matter how much data I enter in `CreateIncidentOptions` the result is the same.

[code]

[code]

[2021-08-29 18:09] theckman commented on #344
@mike-migale-cko I'm still not sure that I understand this feature request, and wonder if you could help me understand which API you're talking about implementing in the client.

[2021-08-29 18:31] theckman commented on #339
I'll see whether there is a way to fix this within a v1.4.x patch release, but from what I remember from when I explored it last this is maybe a side effect of us using the API incorrectly.  We send JSON in a format different than the API documentation specifies, and since I'll be fixing some of that in v1.5.0 I may try to do it within that version.

[2021-08-30 06:57] theckman commented on #349
@discobean I took a look at this, and on the latest version (`v1.4.1`) I can't see a code path for that call that can result in the `Content-Type` header being missing.

**So that I can investigate further I'll need a bit more information: What version of Go are you using and how about the version of `go-pagerduty`?**

If you're curious, here is the code I traced showing the header should be set.

[2021-08-30 07:04] theckman commented on #348
@callumj for `EscalationPolicy`, the [API reference documentation](https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1services~1%7Bid%7D/put) indicates it's required when updating a service. So I think that will need to stay as-is.

For the other fields it seems like more of an accidental omission within the package. We should probably fix those with the similar is

[2021-08-30 07:06] theckman commented on #346
Apologies for this. I'll work on tracking this down over the next day or so.

[2021-08-30 07:36] theckman commented on #346
It looks like it's because of the new fields that got added to the `Service` type, `SupportHours` and `ScheduledActions`. I think adding `omitempty` to both should fix this.

[2021-08-30 07:37] theckman commented on #348
Change of plans, going to fix this in `v1.4.2` because it broke some things.

[2021-08-30 07:38] theckman commented on #348
Slight correction, I'll fix the things that broke in `v1.4.2`. The rest will be done in `v.1.5.0`.

[2021-08-30 07:53] theckman commented on #346
I'm prepping the `v1.4.2` release now, and it should be available within the hour so I'll close this issue.

[2021-08-30 07:53] #346 closed

[2021-08-30 08:02] theckman commented on #346
It's now available.

[2021-08-30 13:10] solita-mikatormanen opened #355 "Feature Request: EU Data Location support for Events API"
Hi

As Pagerduty extended their support for also EU Data Location, would there be some kind of schedule for the library to support EU endpoints also?

[2021-08-30 15:37] theckman commented on #355
Hello,

There isn't a schedule for that, no. I am the primary maintainer of this package, and because I am not a PagerDuty employee I do this on my personal time. This is also the first time I've heard of that feature, it isn't something I would personally use, and there's already substantial amount of work I have queued-up for the upcoming v1.5.0 release.

If you'd be able to raise a PR, and be o

[2021-09-01 21:33] theckman commented on #348
@callumj Actually, would you be wiling to raise a PR with `omitempty` added to all fields except `EscalationPolicy`?

Because of how the repo is configured, I can't merge my own PRs without getting a review from a PD employee when they have a spare moment. Those spare cycles can be hard to come by, unfortunately.

I can review and merge the PRs of others, and so if you could raise a PR, and have a

[2021-09-03 20:11] theckman commented on #342
Closing in favor of #342, which includes this field and more.

[2021-09-03 20:11] #342 closed

[2021-09-03 20:27] theckman commented on #95
With #325 being merged in, to be included in v1.5.0 when it's ready, I think we've effectively solved this feature request. While it does take some extra coordination on the consumer to capture the responses safely, it can now be implemented for all API calls to PagerDuty. Feel free to raise another issue if #325 doesn't give you the ability you want/need.

[2021-09-03 20:27] #95 closed

[2021-09-03 20:31] theckman commented on #178
Considering the lack of activity on this issue I'm going to mark it closed now.

While there isn't a dedicated issue tracking it, I may end up enumerating all of the things that are missing as part of the v1.5.0 development effort. For that release one thing we're trying to fix are APIs that have never worked properly due to some design issue, that can only be fixed with a breaking change. So to d

[2021-09-03 20:31] #178 closed

[2021-09-03 20:32] theckman commented on #178
If you know of any problems with this library, such as a missing endpoint or broken support, please file a dedicated issue so we can track that being fixed up.

[2021-09-03 20:35] theckman commented on #221
I'm working to clean up old issues that have either been addressed or don't feel like there's anything to do right now. I'm leaning towards this request being a no-op right now, while being open to discussing it further if it does seem like transparent truncation is the right path forward.

Would love to hear your (and others') thoughts on that idea. If I don't hear anything within a few days I'll

[2021-09-03 20:38] theckman commented on #339
I know nobody else but me (and maybe PD employees) can see this, but I've filed a support ticket with PagerDuty to try and get a sense of what the right path forward is here:

https://tickets.pagerduty.com/hc/requests/341221

This feels like an obvious REST API bug to me, but I'm unsure if PagerDuty feels the same. I'll loop-back on this issue once I've some sort of resolution from that support ti

[2021-09-04 00:46] theckman commented on #305
So to my comment above, that was #325 which is now merged. I can start looking at this, finally.

[2021-09-05 18:51] theckman commented on #355
@solita-mikatormanen Actually, it looks like we already implicitly do:

https://pkg.go.dev/github.com/PagerDuty/go-pagerduty#WithAPIEndpoint
https://pkg.go.dev/github.com/PagerDuty/go-pagerduty#WithV2EventsAPIEndpoint

If you find anything in particular we need to change or implement, could you please open an issue specific to that?

[2021-09-05 18:51] #355 closed

[2021-09-07 17:26] jspaleta commented on #221
yes... automatic truncation might be the wrong thing.
How about this... extend the golang sdk with a verification function so the event payload size can be tested client side for all the explicit API size limits being enforced.

Benefit of an sdk verification function:
1. This will allow me to take whatever remediation steps I need to take client side to avoid an oversized event.
2.  Verification

[2021-09-09 00:35] theckman commented on #221
I wouldn't be against reviewing a PR with the intent to merge that adds a verification method, although the one challenge we're going to face is making sure it's up to date with how the PagerDuty API behaves. Being transparent, as an outside contributor I likely would be unaware of that changing, and because of specifics of this repo is configured it's hard for me to independently release a new ve

[2021-09-09 14:25] MadhavanPillai opened #362 "List Incidents Method -Options not working as expected."
https://github.com/PagerDuty/go-pagerduty/blob/340f6d5a093d6445012eb08ab560ad828f51e561/incident.go#L131

The new list_incidents method when used with options like 'status' does not filter correctly.

Observed Response: When I use filters: {'incident_key': 'test', 'status':'triggered'} . in the response I get incidents with 'status': resolved as well.
Expected Response:
Only incidents with status:

[2021-09-13 00:14] theckman commented on #362
@MadhavanPillai could you provide an example snippet you are able to reproduce this with? Also, which version of Go and which version of `go-pagerduty` are you using?

[2021-09-13 00:27] theckman commented on #362
I tried to reproduce this myself with my developer PagerDuty account, and I wasn't able to. This snippet worked as expected on Go 1.16.6 with the latest commit on the `master` branch:

[code]

[2021-09-13 01:04] theckman commented on #349
@discobean I'm realizing I misread your report, and after rereading it I'm very confident the issue isn't within this repo and so I'm inclined to close this issue.

So by default, when you use the Go PagerDuty REST client you should be making an HTTPS request right to their Layer 7 edge load balancers. We make an HTTPS request to them, and await a response. At a high level that's all this client d

[2021-09-13 01:04] #349 closed

[2021-09-13 01:18] theckman commented on #321
@msuterski thought I'd check in and see how it was going. Based on your last update, that makes it sound like an eventual consistency thing on PagerDuty's side. But please correct me if I misinterpreted your last update.

[2021-09-13 01:33] theckman commented on #344
@mike-migale-cko I'm still not sure what feature this is requesting specifically, so I'm going to close this issue. If you'd like to re-raise the feature request, please don't hesitate to open a new issue. When opening that issue, please provide details about which PagerDuty REST API you're looking to have this client expand its support of.

Please note, this repo is largely maintained by someone

[2021-09-13 01:33] #344 closed

[2021-09-15 23:11] sim1s opened #364 "ManageIncidentsOptions doesn't take EscalationLevel"
While trying to use the go-pagerduty client to escalate an incident, I noticed that EscalationLevel is missing in ManageIncidentsOptions

https://github.com/PagerDuty/go-pagerduty/blob/340f6d5a093d6445012eb08ab560ad828f51e561/incident.go#L169-L177

The payload for the API allows for escalation_level

https://developer.pagerduty.com/api-reference/reference/REST/openapiv3.json/paths/~1incidents/put

[2021-09-15 23:22] theckman commented on #364
@sim1s do you know whether that field uses zero-based indices? They don't show an example, so I'm not sure if the second escalation level is `1` or `2`. Also, might you have the spare cycles to raise a PR to add this?

For some context, this library is largely community maintained, and while I can review and merge PRs contributed by others I cannot merge my own and must wait for a PD employee to h

[2021-09-17 02:13] discobean commented on #349
I believe there was (or may have been) an outage/issue in pagerduty at some point and I was hitting this error.  Shortly afterwards without any changes it started to work.  And it is currently working right now.

[2021-09-27 23:10] sim1s commented on #364
@theckman the field does not use zero-based indices, the first escalation level is `1`.  The response also does not specify which escalation level is currently triggered, and sending a value of `0` or `1` brings the escalation down to the lowest level (first responders).

[Here's a PR to resolve this](https://github.com/PagerDuty/go-pagerduty/pull/366)

[2021-09-28 09:05] theckman commented on #362
@MadhavanPillai have you been able to take a look at my questions above or been able to run the snippet I shared? With me not being able to reproduce your issue, I'm not sure how to debug this further without more details from you.

[2021-10-05 16:12] thde opened #367 "Webhooks V3 Support"
As V1/V2 webhooks are being deprecated, are there plans to support V3 webhooks within `go-pagerduty`?

I've seen that #326 adds signature verification and should land in v1.5.0?
But the payload also seems to change between [V2](https://developer.pagerduty.com/docs/webhooks/v2-overview/#webhook-payload) and [V3](https://developer.pagerduty.com/docs/webhooks/v2-overview/#webhook-payload).

[2021-10-09 20:57] #277 closed

[2021-10-12 05:47] #268 closed

[2021-10-20 00:21] bparlidoordash opened #373 "Setting conference information in new incident"
Hello, I'm looking to set the conference url and number when creating a new incident, however, I don't see a way to do that with this package? The [API supports](https://developer.pagerduty.com/api-reference/b3A6Mjc0ODE0MA-create-an-incident) it, but not the `CreateIncidentOptions` type.  And AFAICT the `Incident` type (which does have `ConferenceBridge`) is only used in responses from the API.

A

[2021-11-01 20:54] ssjohnson opened #374 "Add Assignments Field in CreateIncidentOptions"
Closing issue as I noticed the Assignments field for CreateIncidentOptions is in the codebase, just not documented here: https://pkg.go.dev/github.com/pagerduty/go-pagerduty#CreateIncidentOptions

[2021-11-01 21:16] #374 closed

[2021-11-04 23:13] tstromberg commented on #339
I believe I'm hitting this bug with a this call:

[code]

The value of `err` is `HTTP response with status code 400, JSON error object decode failed: json: cannot unmarshal string into Go struct field APIError.error of type []string`

The value of `o`:

[code]

The error seems to happen if there is a nearby override in place, so I'm guessing some sort of bounds issue there.

[2021-11-06 08:01] theckman commented on #279
https://github.com/PagerDuty/go-pagerduty/blob/da97010e7f22b22d88b2a9e4b0eb6e7c4566721f/incident.go#L80

[2021-11-09 03:02] theckman commented on #373
This would be a feature request. 😄

If you had some time to add it to this `CreateIncidentOptions` struct, update the tests as needed, and open a PR, I'd greatly appreciate it. It's much for me to merge PRs of others merged than my own. 👍

https://github.com/PagerDuty/go-pagerduty/blob/ad98290ed37bd905d8330a4e3c98d55b302d3f08/incident.go#L153-L164

[2021-11-09 03:05] theckman commented on #362
@MadhavanPillai wanted to ping one last time to see if you'd be able to let me know if you could help me try to reproduce it. Otherwise I probably will need to close this issue, pending any further reports.

[2021-11-09 03:14] theckman commented on #305
This is done.

[2021-11-09 03:14] #305 closed

[2021-11-09 03:16] theckman commented on #339
I just pinged PagerDuty again for our monthly check-in, as well as asked if there are any engineers I can bribe to look at it sooner. 😅

I'll look at this again before v1.5.0 to see if I can noodle on a temporary shim to handle this bad error format edge case, or see if there are other options.

[2021-11-09 08:05] #364 closed

[2021-11-10 01:40] theckman commented on #339
Alrighty. Since it doesn't seem like PagerDuty engineering may be able fix this for a bit of time, I raised #382 to address this bug on our side by trying to reparse the JSON if it seems to fail to to mismatched types.

[2021-11-12 09:37] theckman commented on #321
@msuterski I'm going to close this issue at this time. Feel free to open a new one if you do experience more issues and believe it to be somehow related to this library.

If you do continue to experience that specific problem, it may be good to reach out to PagerDuty support directly at `support@pagerduty.com`.

[2021-11-12 09:37] #321 closed

[2021-11-12 09:43] theckman commented on #315
Good news, this is documented now! I'll make this part of the WIP v1.5.0 release.

https://developer.pagerduty.com/api-reference/b3A6Mjc0ODIwMw-create-a-new-integration
https://developer.pagerduty.com/api-reference/b3A6Mjc0ODIwNA-update-an-existing-integration

[2021-11-14 00:25] theckman commented on #339
@dsymonds I just backported the fix or this into the `release-v1.4.x` branch, and cut `v1.4.3`. This issue will be auto-closed in a few moments when I merge the same fix into the `master` branch.

[2021-11-14 00:27] #339 closed

[2021-11-14 00:34] #343 closed

[2021-11-14 00:37] #348 closed

[2021-11-14 04:02] theckman opened #389 "Validate that all structure formats and method signatures work with PagerDuty API"
We're making `v1.5.0` a special release, where we introduce breaking changes to fix issues within this package that probably never worked since being merged. Since we've fixed so many things so far, we should go over the entire package to make sure there are no outstanding issues.

Files to check:

- [x] ability.go
- [x] addon.go (#405)
- [x] analytics.go
- [x] business_service.go (#405)
- [x] cha

[2021-11-14 04:13] theckman opened #390 "When creating an incident, consumers shouldn't need to set the Type field"
The `type` can only be incident, and so it should be set by default within the package and not exposed a consumer-settable option.

https://github.com/PagerDuty/go-pagerduty/blob/ad98290ed37bd905d8330a4e3c98d55b302d3f08/incident.go#L155

Since we can't remove it without it being a breaking change, we should deprecate it in preparation for v2.0.0.

[2021-11-14 08:16] theckman commented on #315
I raised #385 to address this feature request.

[2021-11-16 07:19] #315 closed

[2021-11-16 07:20] #373 closed

[2021-11-16 07:24] #390 closed

[2021-11-16 07:25] theckman commented on #362
@MadhavanPillai I'm going to close the issue at this time, but please feel free to open a new issue if you are continuing to experience this or if you run into any other problems.

[2021-11-16 07:25] #362 closed

[2021-11-16 08:19] theckman opened #393 "Reduce code duplication in analytics.go"
The three methods in `analytics.go` are like 99% the same, minus the last part of the API URL. This code is ripe for some DRYing by creating an unexported method, that accepts the final piece of as an argument and appends it to the URL.

https://github.com/PagerDuty/go-pagerduty/blob/2f646c3d8276a06bf62ab52f823a0ea2c0025ed2/analytics.go#L61-L115

[2021-11-16 08:21] theckman opened #394 "Add support for fetching Audit Records"
https://developer.pagerduty.com/api-reference/b3A6Mjc0ODExNA-list-audit-records

[2021-11-16 08:52] theckman opened #395 "Add support for escalation_policy.on_call_handoff_notifications field"
https://developer.pagerduty.com/api-reference/b3A6Mjc0ODEyNA-list-escalation-policies

[2021-11-16 17:03] bparlidoordash commented on #373
Thank you @theckman! Looks like you already go to it

[2021-11-17 02:15] theckman commented on #394
@t-junjie that would be great, I appreciate it! I do have a few suggestions which may be helpful for when you do get to implementing it.

The first is that for new methods we're adding to the project, we're not creating new `WithContext()` variations. Instead, the new base method is always accepting a `ctx context.Context` as its first argument. So I think the method definition would be something

[2021-11-17 02:21] theckman commented on #394
I forgot to include this above, here is an example of another `Paginated` method in the codebase. One note, it was built before I'd considered adding the `include` function (#296):

https://github.com/PagerDuty/go-pagerduty/blob/2f646c3d8276a06bf62ab52f823a0ea2c0025ed2/service.go#L156-L185

[2021-11-17 02:52] theckman commented on #393
Fixed via #397.

[2021-11-17 02:52] #393 closed

[2021-11-18 12:59] t-junjie commented on #394
Thanks for the suggestions and example!
I might be a little slow, but I will get started on this and follow up with you if/when I have any questions.

[2021-11-18 15:05] t-junjie commented on #394
I took a look at the example in #296, as well as the above example.
I am confused as to whether I should be using `pagedGet` or  `get` to retrieve the audit records.

With reference to the following code, would **option 2** be more of what you were thinking for the `ListAuditRecordsPaginated`?

Or would it be similar to **option 1**, but we would have to convert `include` to a `responseHandler` su

[2021-11-20 01:43] theckman commented on #394
This is mostly pseudocode, so the `.Records` field I reference may not make sense. But I was thinking something like...

[code]

[2021-11-20 21:41] theckman opened #398 "Add support for enabling a temporarily disabled extension"
https://developer.pagerduty.com/api-reference/b3A6Mjc0ODEzNw-enable-an-extension

[2021-11-20 21:53] theckman opened #399 "Incident.FirstTriggerLogEntry should maybe be of type APIObject"
We should review this for v2.0.0.

https://developer.pagerduty.com/api-reference/b3A6Mjc0ODE0MQ-get-an-incident

[2021-11-20 21:56] theckman opened #400 "Add support for missing Incident fields"
* `assigned_via`
* `occurrence`

https://developer.pagerduty.com/api-reference/b3A6Mjc0ODE0MQ-get-an-incident

[2021-11-21 13:36] t-junjie commented on #394
I just tried implementing this and realised that [the style of pagination supported has changed](https://developer.pagerduty.com/api-reference/b3A6Mjc0ODExNA-list-audit-records). (`Classic pagination`->`Cursor-based pagination`)
Note: See response body fields, which includes only `limit` and `next_cursor`

The current implementation of APIListObject contains the field `Limit`,`More`,`Offset`,`Tota

[2021-11-23 09:31] theckman commented on #394
When creating this issue I was unaware of this endpoint using the cursor pagination, so I was under the impression it would mostly be a copy/paste of other paginated calls. I was wrong. Sorry about that. 😅

Let me take a look at this a bit to see how to best handle this type of pagination. I assume it would be to create something _similar_ to `APIListObject`, but I need to verify that based on som

[2021-11-25 08:42] theckman commented on #394
So I think we need to create something similar to `pagedGet` for cursor-based endpoints in the API. I played around with it a little bit, and think maybe this should be added to the bottom of `client.go`:

[code]

Then I think the actual paginated method call, based roughly on the one I linked above, you'd do something like:

[code]

We'd also need to add a `Limit` and `Cursor` field directly to b

[2021-12-08 21:23] rbren opened #407 "Support for refresh_tokens?"
We recently learned that all access_tokens are now expiring after 1 year. Are there plans to support refresh_tokens in this library?

[2021-12-08 21:26] theckman commented on #407
I'm not entirely familiar with what you're referring to. Could you share a link?

[2021-12-08 22:44] rbren commented on #407
HYG: https://docs.google.com/document/d/1GjyNU_rKAeX5ugFKDu8PsVY8IyDx-CxiTOJRoNRaEFU/edit

[2021-12-09 05:53] theckman commented on #407
@rbren this is the first I'm hearing of this change, so I appreciate you forwarding that over. Reading that document makes me realize that it seems disorganized on the PagerDuty side, where in that document they talk about adding `refresh_token` support but it's not mentioned _anywhere_ in their API docs. 🤦‍♂️

Anywho, to your question...

As of today this package is not involved with the OAuth to

[2021-12-14 18:37] dobs commented on #407
Clients doing their own token negotiation is often the "correct" way given that coordinating token lifecycle is normally outside the scope of the client itself.

Maybe providing documented examples leveraging `oauth2` is a good starting point, either swapping `pagerduty.Client`'s `HTTPClient` with `config.Client`'s and/or using `config.TokenSource`? I can contribute some of they'd be useful.

We c

[2021-12-15 09:31] t-junjie commented on #394
Yes, that does make sense.
I have implemented these 2 methods [here](https://github.com/t-junjie/go-pagerduty/commit/9eb31cc85a87570529b4a79da79f037853ddb718).

I am trying to write tests for the `cursorGet` method (in client.go) taking reference from `pagedGet`, but it's not immediately obvious to me where these tests are written (in client_test.go), as there is a `TestClient_Do` method but no `T

[2021-12-15 09:32] t-junjie commented on #394
Also, `TestClient_Do` seems to be failing. Is this a cause for concern?

[code]

[2021-12-17 14:23] #398 closed

[2022-01-08 01:58] #395 closed

[2022-01-08 01:59] #400 closed

[2022-01-16 05:20] theckman opened #411 "Look at supporting includes (hydrated objects) for v2"
There are some API endpoints that return reference objects by default, but allow you to request a fully hydrated object injected using the `include[]` query parameter.

Here's an example: https://github.com/PagerDuty/go-pagerduty/blob/623abb3beac1fb122b5f715ee3740f5cb1596856/extension.go#L17-L18

In this struct they are `APIObject`, meaning they can only be references. However, per the docs, you c

[2022-01-16 06:17] theckman opened #412 "Agent type isn't necessary, and should be removed for v2"
https://github.com/PagerDuty/go-pagerduty/blob/77a73c9d16987b91549d60d76d5a075e91400df9/log_entry.go#L11-L12

We should just refer to it as an `APIObject` in the places where it's needed.

[2022-01-16 06:27] theckman opened #413 "CommonLogEntry and LogEntry types may be able to be combined in v2"
We should explore whether that's possible for v2.

[2022-01-16 06:55] theckman commented on #279
https://github.com/PagerDuty/go-pagerduty/blob/77a73c9d16987b91549d60d76d5a075e91400df9/on_call.go#L13

[2022-01-16 23:09] theckman opened #415 "Rename PriorityProperty to Priority for v2"
This is to make the name more consistent with the other types.

https://github.com/PagerDuty/go-pagerduty/blob/77a73c9d16987b91549d60d76d5a075e91400df9/priorites.go#L9-L14

[2022-01-16 23:14] theckman commented on #295
Another one to fix: https://github.com/PagerDuty/go-pagerduty/blob/77a73c9d16987b91549d60d76d5a075e91400df9/ruleset.go#L142-L154

[2022-01-19 05:55] theckman commented on #389
Accomplished via #396, #405, and #414.

[2022-01-19 05:55] #389 closed

[2022-01-19 06:09] theckman commented on #394
#408 was merged. Thank you for helping out with this!

[2022-01-19 06:09] #394 closed

[2022-01-19 06:12] theckman commented on #367
@ChezCrawford I've managed to get everything else for `v1.5.0` ready go. Have you had the cycles to look at this at all? If not no sweat, and I'll retag it to be part of `v1.6.0`.

[2022-01-19 08:24] theckman commented on #415
Already done and used a type alias.

[2022-01-19 08:24] #415 closed

[2022-01-21 01:12] ChezCrawford commented on #367
It's in the works but isn't quite ready for use. I'll shoot for something in v1.6.0.

[2022-02-07 11:51] ricardoasmarques opened #421 "Support for creating Event Rules with "Template Extrations", via go-client library"
According to the [API documentation](https://developer.pagerduty.com/api-reference/b3A6Mjc0ODIwNw-create-an-event-rule-on-a-service), it's possible to create an "_Event Rule Extraction_" using a `template` (instead of a `regex`):

![Screenshot from 2022-02-07 11-39-49](https://user-images.githubusercontent.com/14297426/152781570-8fa1a4fe-3e01-44fb-ba62-ed4756180725.png)

This same option is availa

[2022-02-13 18:45] s-buhar0v commented on #367
Guys, any updates? @ChezCrawford

[2022-02-15 18:06] trevorriles opened #424 "Add Event Orchestrations API"
It looks like the Event Orchestration framework is becoming an alternative to RuleSets. Can this be supported by the go api?

[2022-02-16 18:47] theckman commented on #424
We tend to only support what's available in the public documentation, so as long as PD havs documented everything on their side there should be nothing stopping us from including it (beyond someone implementing the code).

@trevorriles to that point, would you be willing to help implement this by raising a PR and work through resolving any feedback?

[2022-02-21 00:44] theckman opened #426 "ResponsePlays: From header is required on more endpoints"
It seems like the Response Plays documentation was incorrect, and a few more endpoints require the `From` header. We're going to need to introduce breaking changes to `CreateResponsePlay`, `UpdateResponsePlay`, and `DeleteResponsePlay`. We will need to introduce a breaking change to support this.

[2022-02-23 14:57] ChezCrawford commented on #367
Alright two threads here:

First, i've got a draft of some basic support for V3 Webhook Payloads in https://github.com/PagerDuty/go-pagerduty/pull/427 and would appreciate and/all feedback.

Second: My apologies for the delay in communication regarding deprecation; this is has been a bit of a mess from our end. What @theckman said above is essentially correct. Furthermore: be on the lookout for so

[2022-03-08 16:27] eepurichandra opened #430 "Incident Body is returning empty incident-body details"
I have created an incident with body(type and details)
![image](https://user-images.githubusercontent.com/54019901/157280098-7126bc8b-5652-4c09-98f6-cb1d0a7d7ec7.png)

But while getting that incident details, the body details are empty.
[code]

Output doesn't have body details:
![image](https://user-images.githubusercontent.com/54019901/157281237-db034875-bc41-4038-a9f9-4f3ffb4e9066.png)

[2022-03-09 14:50] eepurichandra commented on #430
Closing the issue, as i am able to get the body details by mentioning includes[]=channels

[2022-03-09 14:50] #430 closed

[2022-03-14 08:02] estahn opened #431 "Mock Client"
As described in #148, a `Client` interface containing all available methods would be quite useful to add mocking abilities. In the current state, the HTTP client would need to be mocked, which would effectively test the PagerDuty library itself unnecessarily.

Here is an example from the AWS SDK: https://docs.aws.amazon.com/sdk-for-go/api/service/ecr/ecriface/

Example:
[code]

I could provide a P

[2022-03-21 01:06] theckman commented on #431
Thank you for reaching out.

In Go, it's considered more idiomatic for consumers of a package to define their own local interface that describes what functionality they use. You then write your own minimal mock that implements only those methods, and provides the controls you need to mock responses and errors.

If you take a look at the v2 Go AWS SDK, they stopped offering these features as part o

[2022-03-21 01:07] theckman commented on #424
@trevorriles wanted to reach back out to see if you wanted to contribute this.

[2022-03-21 01:15] theckman commented on #421
@ricardoasmarques can you please point me more precisely within the documentation where it says a `template` can be used? I took a look at the link, expanded all fields, and do not see `template` anywhere on the page.

The reason I ask is that a requirement for functionality being added to this package is that it's clearly documented on that API docs site.

[2022-03-21 01:32] trevorriles commented on #424
Hey sorry, for my purposes the older rule sets work for me. Was mostly looking to see if the new features were available to use instead.

That being said if I come by some free time I may take a stab at it in the future if nobody else gets to it.

[2022-03-21 08:32] estahn commented on #431
@theckman Thanks for your thorough response.

There is certainly an advantage to define your own interface as it would lower breaking changes from upstream. On the contrary I would argue it’s repetitive and produced more unnecessary boilerplate.

Using the ECR API Interface was a pleasant experience and I’m surprised it was removed.

Do you possibly have some more reading on idiomatic go that supp

[2022-03-21 09:07] ricardoasmarques commented on #421
@theckman it's a bit hidden in the documentation.

You have to navigate to https://developer.pagerduty.com/api-reference/b3A6Mjc0ODIwNw-create-an-event-rule-on-a-service and then expand `rule > actions > extractions`, then you will see a dropdown next to the `extractions` field:

![Screenshot from 2022-03-21 08-59-41](https://user-images.githubusercontent.com/14297426/159230883-d94c203a-88bb-474d-

[2022-03-22 04:25] theckman commented on #431
@estahn Avoiding boilerplate definitely isn't something that the Go language really concerns itself with. In some ways, it actually encourages it based on two different [Go Proverbs](https://go-proverbs.github.io/):

* A little copying is better than a little dependency.
* Clear is better than clever.

For this specific topic on where interfaces are defined, the canonical place I've seen it mentio

[2022-03-22 04:32] theckman commented on #421
Yikes. So looking at that we're probably going need a breaking change to support this. 🤦

[2022-03-22 21:07] #431 closed

[2022-04-06 16:37] mjlshen opened #433 "Builds broken on macOS with Go 1.18"
[code]

According to https://github.com/golang/go/issues/49219, this can be solved by updating the `golang.org/x/sys/unix` package, happy to make a PR for this.

[2022-04-06 16:44] mjlshen opened #435 "Update install instructions for "go install""
Since `go install` is now the recommended approach https://tip.golang.org/doc/go1.16#modules, steps/README should be updated accordingly.

Currently `go install github.com/PagerDuty/go-pagerduty/command@latest` works, but results in a binary named "command". I would like to propose nesting the contents of command into another `pd` subfolder such that `go install github.com/PagerDuty/go-pagerduty/c

[2022-04-18 17:57] mjlshen opened #438 "Chaining GetService and UpdateService fails when AlertGroupingParameters is omitted"
[code]

Results in the following when the following error when `AlertGroupingParameters` is unset/omitted by Go:
[code]

The JSON response from GetService looks like:
[code]

but the resulting struct ends up like, which the PagerDuty API doesn't seem to like:
[code]

[2022-04-18 17:57] mjlshen commented on #438
As a workaround, a check like this works before calling UpdateService
[code]

[2022-04-22 02:39] yehaotong opened #441 "How to update a incident"
I find some method for get incident、incidents,but I do not found a method to update a incident(example to resolve a incident),is does not have this method?

[2022-04-23 22:13] theckman commented on #441
I think this method may be what you want: https://pkg.go.dev/github.com/PagerDuty/go-pagerduty#Client.ManageIncidentsWithContext

[2022-04-23 22:41] theckman commented on #438
I'm not quite sure if there's anything we can do here. Because the field is a pointer, it should be `nil` if the PagerDuty response omits the response. But as you've shown the API isn't omitting the object, even though all fields are `null`, which feels like a bug on their side.

I help maintain this library in my spare time to benefit the Go community, but am not employed there. This means I don'

[2022-04-24 01:03] mjlshen commented on #438
Appreciate the response! I'll see what I can do and report back here

[2022-04-24 08:08] theckman opened #446 "CircleCI builds are not updating commit status on GitHub"
I don't have the required repo access to debug this, so I need some help from PagerDuty employees. @stmcallister @Sjeanpierre

[2022-05-01 03:08] mjlshen commented on #438
Didn't have much luck with support, but with a closer look I do think it is a bug in this library where it's missing a couple `omitempty`'s, so I made that PR^

[2022-05-16 17:58] mjlshen commented on #438
@theckman when you get a chance, I would appreciate a review on my proposed fix - thanks!

[2022-07-11 13:52] #438 closed

[2022-07-20 01:03] jwestbury opened #451 "ResponderRequest regression - API method is no longer functional"
Looks like ResponderRequest was fixed in #328, but a regression was introduced in #389 which broke this method again. I'm seeing the following request body from the SDK, which results in a 2100 (Not Found) response:

[code]

Meanwhile, the API explorer produces the following request body, which works with an identical issue ID:

[code]

Any chance of getting the "correct" behavior reintroduced?

[2022-07-20 02:22] CerealBoy commented on #451
Would this be resolved by the (now outdated) #442 ?

[2022-08-11 10:37] gilesw opened #456 "pagerduty cli asdf support"
I wrote a plugin:- https://github.com/ORCID/asdf-go-pagerduty

You may want to take this under your control or submit it to the asdf team once my github actions pr is added to your repo.

https://github.com/PagerDuty/go-pagerduty/pull/455

[2022-08-11 10:44] gilesw opened #457 "Add a --version arg to cli tool"
Would be handy in a non traditional packaging environment

[2022-08-16 21:50] mjlshen opened #458 "UpdateService is not working properly with AlertGroupingParameters"
If a PD service has data inside svc.AlerGroupingParameters.Config.Timeout it doesn't appear to be correctly sent when updating, for example if there was an indefinite time-based alert grouping configured.

POC:
[code]

[2022-08-17 14:43] ChuckCrawford commented on #451
This should now be resolved by https://github.com/PagerDuty/go-pagerduty/pull/452 and included in the eventual 1.6 release.

Thank you all for your patience. Please let us know if anyone runs into additional issues here.

[2022-08-17 14:43] #451 closed

[2022-09-10 20:52] zerolaser opened #462 "Docs need more examples"
How loop beyond the 25 entries ?Can you add more examples ?

[2022-09-10 22:35] zerolaser opened #463 "Ability to use Command line tool PD to do all"
1. Currently the `pd service list` only list 25 entries. Ability to loop all the entries via command line.
2. Ability to print output as txt, json or csv.
3. What's the debug option when running via commandline ?

[2022-09-21 14:43] #458 closed

[2022-09-30 20:54] ChuckCrawford commented on #446
This _should_ be resolved now. Just going to monitor it for a few more builds.

[2022-10-07 10:45] #424 closed

[2022-10-18 19:05] tgill2 opened #467 "cccccbddkkifikcbjjdtfbevjdbubnbrjvlfnighnetc"

[2022-10-18 19:09] #467 closed

[2022-10-24 19:26] cluarkhpe opened #468 "allow passing empty scheduled actions"
the following code to create a service will fail with an error saying that scheduled actions must be specified:
[code]
a direct call to the api with the same inputs works
`curl -X POST --data "@service.json" -H "Authorization: Token token=$PAGERDUTY_TOKEN" -H "Content-Type: application/json" https://api.pagerduty.com/services`
service.json:
[code]

[2022-11-24 13:07] mehulgohil opened #469 "Get Service With Context returns error "HTTP response with status code 401 does not contain Content-Type: application/json""
GetServiceWithContext expects a Header Content-Type: application/json
Currently in the go-pagerduty sdk we are not passing the header.

As per Pagerduty Api Docs - https://developer.pagerduty.com/api-reference/165ad96a22ffd-get-a-service
Get Service API needs this header as required

![image](https://user-images.githubusercontent.com/28588619/203791789-5ff733d6-0b10-4a84-b1d2-a41bbc3c5e6b.png)

[2022-11-25 00:33] theckman commented on #469
@mehulgohil that's not what this error means. The error is saying that the PagerDuty API returned an HTTP 401 in response to your request, and the response body was not JSON. The PagerDuty Go client does not attempt to parse the response if it's not JSON.

HTTP 401 is the Unauthorized status code, which indicates you provided invalid credentials when calling the PagerDuty API.

[2022-11-25 04:42] mehulgohil commented on #469
Sorry, my bad was the token issue. Thanks

[2022-11-25 04:42] #469 closed